@font-face {
    font-family: 'Eraser';
    src: url('fonts/erasdust-webfont.eot');
    src: url('fonts/erasdust-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/erasdust-webfont.woff2') format('woff2'),
    url('fonts/erasdust-webfont.woff') format('woff'),
    url('fonts/erasdust-webfont.ttf') format('truetype'),
    url('fonts/erasdust-webfont.svg#eraserdustregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Book';
  src: 	url('fonts/frabk.eot?') format('eot');
  src:  url('fonts/frabk.eot?#iefix') format('embedded-opentype'),
  		url('fonts/frabk.woff') format('woff'), 
		url('fonts/frabk.ttf') format('truetype'), 
		url('fonts/frabk.otf') format('opentype'),
		url('fonts/frabk.svg') format('svg');
}

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: 	url('fonts/fragm.eot?') format('eot');
  src:  url('fonts/fragm.eot?#iefix') format('embedded-opentype'),
  		url('fonts/fragm.woff') format('woff'), 
		url('fonts/fragm.ttf') format('truetype'), 
		url('fonts/fragm.otf') format('opentype'),
		url('fonts/fragm.svg') format('svg');
}

@font-face {
  font-family: 'Angelina';
  src: 	url('fonts/angelina.eot?') format('eot');
  src:  url('fonts/angelina.eot?#iefix') format('embedded-opentype'),
  		url('fonts/angelina.woff') format('woff'), 
		url('fonts/angelina.ttf') format('truetype'), 
		url('fonts/angelina.otf') format('opentype'),
		url('fonts/angelina.svg') format('svg');
}

@font-face{
  font-family: 'Typenoksidi';
    src: 	url('fonts/typenoksidi-webfont.eot?') format('eot');
    src:  url('fonts/typenoksidi-webfont?#iefix') format('embedded-opentype'),
    url('fonts/typenoksidi-webfont.woff') format('woff'),
    url('fonts/typenoksidi-webfont.ttf') format('truetype'),
    url('fonts/typenoksidi-webfont.otf') format('opentype'),
    url('fonts/typenoksidi-webfont.svg') format('svg');
}

@font-face {
    font-family: 'HelveticaInseratLTStd-Roman';
    src: url('fonts/HelveticaInseratLTStd-Roman.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaInseratLTStd-Roman.otf')  format('opentype'),
    url('fonts/HelveticaInseratLTStd-Roman.woff') format('woff'), url('fonts/HelveticaInseratLTStd-Roman.ttf')  format('truetype'), url('fonts/HelveticaInseratLTStd-Roman.svg#HelveticaInseratLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src: url('fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeue-CondensedBold.otf')  format('opentype'),
    url('fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('fonts/HelveticaNeue-CondensedBold.ttf')  format('truetype'), url('fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_t_otdemi';
    src: url('fonts/futura-t-ot-demi_19066-webfont.eot');
    src: url('fonts/futura-t-ot-demi_19066-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura-t-ot-demi_19066-webfont.woff2') format('woff2'),
         url('fonts/futura-t-ot-demi_19066-webfont.woff') format('woff'),
         url('fonts/futura-t-ot-demi_19066-webfont.ttf') format('truetype'),
         url('fonts/futura-t-ot-demi_19066-webfont.svg#futura_t_otdemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gandhi_sansregular';
    src: url('fonts/gandhisans-regular-webfont.eot');
    src: url('fonts/gandhisans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gandhisans-regular-webfont.woff2') format('woff2'),
         url('fonts/gandhisans-regular-webfont.woff') format('woff'),
         url('fonts/gandhisans-regular-webfont.ttf') format('truetype'),
         url('fonts/gandhisans-regular-webfont.svg#gandhi_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url('fonts/HelveticaNeueCondensedBold.eot');
    src: url('fonts/HelveticaNeueCondensedBold.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCondensedBold.woff2') format('woff2'),
         url('fonts/HelveticaNeueCondensedBold.woff') format('woff'),
         url('fonts/HelveticaNeueCondensedBold.ttf') format('truetype'),
         url('fonts/HelveticaNeueCondensedBold.svg#HelveticaNeueCondensedBold') format('svg');
}
