.about-us-read-more {
  margin-top: 30px;
}
#about-main {
  min-height: 345px;
}
#about-leana-video{
  display: none;
}
#about-leana-video {
  margin-top: -10px;
}
#about-leana-video img {
  width: 595px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}
.kithVideoWrapper {
  padding-bottom: 56.25%;
  padding-top: 5px;
  top: -70px;
}

/****** block 203   live TV and Search Box *****/
.home-mobile-video_interlock {
  display: none;
}

.livetv-home{
  margin-top:10px;
  width: 99%;
  height: 84px;
  display: none;
  text-transform: uppercase;
  background-image: url("../images/homepages/livetv-home1.png") ;
}

.livetv-text{
  padding-left: 33%;
  padding-top: 28px;
  margin-top: 0px;
  position: relative;
  /*max-width: 940px;*/
  font-family: 'Oswald', sans-serif;
  /*letter-spacing: 0px;*/
  font-weight: bold;
  font-size: 18px;
}
.livetv-button {
  font-size: 13px;
  width: 40px;
  height: 55px;
  color: #fff;
  background-image: linear-gradient(to bottom, #E61F25 0%, #B5151A 80%);
  padding: 7px 23px;
  line-height: 55px;
  /*margin-left: 3%;*/
  /*float: right;*/
  /* float: right; */
  /*margin-right: 4%;*/
  border-radius: 3px;
}

.livetv-words{
  color: #000000;

}

@media only screen and (max-width: 1000px){
  .livetv-text {
    padding-left: 20%;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 768px){
  .livetv-text {
    padding-left: 38%;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 537px){
  .home-mobile-video_interlock {
    display: block;
    margin: 56px 0 -49px 0;
    padding:0;
  }

  .livetv-home{
    display: block;
    background-image: url("../images/homepages/livetv-home2.png");
    background-size: cover;
    height: 200px;
    margin-top: 49px;
    margin-bottom: -54px;
  }

  .livetv-text {
    padding-left: 34px;
    padding-right: 39%;
    padding-top: 37px;
  }

  .view-id-video_interlock{
    display:block;
  }
}

@media only screen and (max-width: 480px){
  .livetv-home{
    background-image: url("../images/homepages/livetv-home2.png");
    height: 200px;
    margin-top: 49px;
    margin-bottom: -54px;
  }
  .livetv-button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 320px){
  .livetv-text {
    padding-top: 26px;
  }
}
