/* Handle multiple backgrounds in IE8 */
#user-profile-philosophy { position: relative; z-index: 5; height: 100px; overflow: hidden;}
#user-profile-philosophy:before, #user-profile-philosophy:after { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
#user-profile-philosophy:before { content: url('../images/profile_philosophy_bg_top.png'); z-index: -1; }
#user-profile-philosophy:after { content: url('../images/profile_philosophy_bg_bottom.png'); z-index: -2; overflow: hidden; top: 80px}
#user-profile-philosophy span {position: absolute; left: 100px; z-index: 5;}

#user-pro-philosophy { position: relative; z-index: 1; height: 100px; overflow: hidden;}
#user-pro-philosophy:before, #user-pro-philosophy:after { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
#user-pro-philosophy:before { content: url('../images/profile_pro_philosophy_bg_top.png'); z-index: -1; }
#user-pro-philosophy:after { content: url('../images/profile_pro_philosophy_bg_bottom.png'); z-index: -2; overflow: hidden; top: 55px }
#user-pro-philosophy span {position: absolute;  z-index: 5;}

#block-views-b3d8afae5a7c441932609b8b380355c7{ position: relative; z-index: 1; background: none; height: 600px}
#block-views-b3d8afae5a7c441932609b8b380355c7:before, #block-views-b3d8afae5a7c441932609b8b380355c7:after { position: absolute; top: 0px; left: 5px; bottom: 0px; right: 0px; }
#block-views-b3d8afae5a7c441932609b8b380355c7:before { content: url('../images/forum_sidebar_block_bg_top.png'); z-index: -1; }
#block-views-b3d8afae5a7c441932609b8b380355c7:after { content: url('../images/forum_sidebar_block_bg_bottom.png'); z-index: -2; overflow: hidden; top: 100px}
#block-views-b3d8afae5a7c441932609b8b380355c7 .block-inner {position: absolute; z-index: 5;}

div.forum-post.top-post { position: relative; z-index: 1; }
div.forum-post.top-post:before, div.forum-post.top-post:after { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
div.forum-post.top-post:before { content: url('/sites/all/modules/custom/kih_p2p/advanced_forum_styles/gung_theme/images/forum_top_post_bg_top.png'); z-index: -1; }
div.forum-post.top-post:after { content: url('/sites/all/modules/custom/kih_p2p/advanced_forum_styles/gung_theme/images/forum_top_post_bg_bottom.png'); z-index: -2; overflow: hidden; }

#block-views-expert-wall-block { background: url('../images/expert_wall_bg.jpg') no-repeat; }

.register_modal div.ctools-modal-content { position: relative; z-index: 1; overflow: hidden; }
.register_modal div.ctools-modal-content:before, .register_modal div.ctools-modal-content:after { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.register_modal div.ctools-modal-content:before { content: url('../images/register_bg_top.png'); z-index: -1; }
.register_modal div.ctools-modal-content:after { content: url('../images/register_bg_bottom.png'); z-index: -2; overflow: hidden; top: 95px; }
.register_modal .close { right: 0px; top: -4px; }

#about-main { position: relative; z-index: 1; background: none; }
#about-main:before, #about-main:after { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
#about-main:before { content: url('../images/about_video_bg_top.png'); z-index: -1; }
#about-main:after { content: url('../images/about_video_bg_bottom.png'); z-index: -2; overflow: hidden; top: 100px}
#about-main .block-inner {position: absolute; z-index: 5;}
