/* CSS for major navigation elements such as menus, pager, superfish etc */
#block-block-6.social-actions{
  display:none;
}


.page-user #breadcrumb { display: none; }
.page-user #zone-content .tabs {display: none;}
/* hide breadcrumb and tabs on User, Friends, Messages pages since we set up a custom tab */
.page-user #breadcrumb, .page-relationships #breadcrumb, .page-relationship #breadcrumb, .page-friends #breadcrumb, .page-messages #breadcrumb { display: none; }
.page-user-relationships form.confirmation { margin-top: 20px; }
.page-user #region-content .tabs { display: none; }

/**
 * Primary, Seondary and Menu bar menus, use one of the following id's for granular control:
 * #menu-bar
 * #primary-menu-bar
 * #secondary-menu-bar
 */

#zone-menu-wrapper ul.menu {
  margin: 0px;
}
#zone-menu-wrapper li,
#zone-menu-wrapper .menu li {
  display: inline;
  float: left;
  list-style: none;
}
#zone-menu-wrapper li a,
#zone-menu-wrapper .menu li a {
  display: block;
}
#zone-menu-wrapper ul,
#zone-menu-wrapper ul.menu,
#zone-menu-wrapper ul.menu li {
  margin: 0;
  padding: 0;
}

/* Menu bar block */
#zone-menu-wrapper .block {
  margin-bottom: 0;
}

/* Menus */
ul.menu {
}
ul.menu ul,
ul.menu ul ul,
ul.menu ul ul ul {
  margin-left: 15px;
}

/* Menu li styles */
ul.menu li {
  margin: 0;
}

.block .menu li.content {
  padding: 0; /* this class can be a problem in some occurances, so mitigate risk */
}


/* Pager */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}
.item-list ul.pager li {
  margin: 0;
}
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
ul.pager li.pager-current {
  font-weight: 700;
}
.block ul.pager li {
  margin: 0;
}

/* Theme the various states of pager links. */
ul.pager li a:link    {}
ul.pager li a:visited {}
ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
ul.pager li.pager-item     {}
ul.pager li.first          {}
ul.pager li.last           {}
ul.pager li.pager-current  {}
ul.pager li.pager-first    {}
ul.pager li.pager-previous {}
ul.pager li.pager-next     {}
ul.pager li.pager-last     {}

.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
    width: 80px !important;
}

/* Superfish Skins */
ul.sf-menu {
  margin-bottom: 0;
}
ul.sf-menu li ul {
  display: none; /* Prevent momentary display of sub menus */
}
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}

ul.sf-menu a:link,
ul.sf-menu a:visited  {}

ul.sf-menu li:hover,
ul.sf-menu li.sfHover,
ul.sf-menu a:focus,
ul.sf-menu a:hover,
ul.sf-menu a:active {
  outline: 0;
}

/* Superfish blocks */
.block-superfish .block-inner,
.block-superfish .block-inner .content {
  padding: 0;
  margin: 0;
}
.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/* Vertical style */
.sf-vertical,
.sf-vertical li {
  width: 100%;
}
.sf-vertical li {}
.sf-vertical li.last {}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  top:  0;
  margin: 0;
  padding: 0;
}
.sf-vertical li a {
  padding: 0 10px;
}

/* Navbar */
.sf-navbar {
  padding-bottom: 0 !important;
}

/* Sensible padding for the default style */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* Skip Navigation */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}


/* Tabs */
#tasks {
  margin-bottom: 1em;
}
ul.primary {
  border-bottom-color:#ccc;
  margin: 1.5em 0 1em;
  padding: 0 0 .2em .3em;
}
ul.primary li a {
  background-color: #f5f5f5;
  margin-right: .08em;
  border-color: #ccc;
  padding: .1em .75em .2em;
}
.local-tasks ul.primary li a:hover {
  background-color: #f7f7f7;
  border-color: #ddd;
}
.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
}
ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 2em 0 0;
}
ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

ul.primary li a {
  border-radius: 5px 5px 0px 0px;
}

/**
 * Menu Items
 */

#block-menu-block-4{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

#block-menu-menu-site-menu, #block-menu-block-3{
	margin: 0;
}

.region-header .block-menu-block .menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.region-header .block-menu-block .menu li {
	float: left;
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	border-right: 1px solid #222;
	padding: 0 5px;
	line-height: 10px;
}

.region-header .block-menu-block .menu li.last{
	border-right: 0 none;
	padding-right: 0;
}

.region-header .block-menu-block .menu li a {
	color: #222;
	font-size: 11px;
	text-decoration: none;
	padding: 0;
}

.region-header .block-menu-block .menu li a:hover {
	color: #EB1D23;
}


/* @group Tab menu */
#block-menu-menu-site-menu { border-bottom: 1px solid #C4C5C6;}
#block-menu-menu-site-menu ul li a {
  height: 23px;
  width: 129px;
  margin: 0 2px;
  padding-top: 5px;
  color: #fff;
	text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
}
#block-menu-menu-site-menu ul li a:hover { color: #4b4b4b; }

/* tab 1 */
#block-menu-menu-site-menu ul li:first-child a.active {
  background: url('../images/tab_sprite.png') 0px 0px no-repeat;
}
#block-menu-menu-site-menu ul li:first-child a:hover {
  background: url('../images/tab_sprite.png') 0px -31px no-repeat;
}


#block-menu-menu-site-menu ul li a {
  background-color: #0870c0;
}

/* #block-menu-menu-site-menu ul li:first-child a {
  background: url(../images/tab_sprite.png) 0px -62px no-repeat;
  background-color: #0870c0;
} */

/* tab 2 */ /* "li:first-child + li" stuff for IE8 */
#block-menu-menu-site-menu  ul li:nth-child(2) a.active{
  background: url('../images/tab_sprite.png') -138px 0px no-repeat;
}
#block-menu-menu-site-menu  ul li:nth-child(2) a:hover {
  background: url('../images/tab_sprite.png') -138px -31px no-repeat;
}

/* #block-menu-menu-site-menu  ul li:nth-child(2) a{
  background: url('../images/tab_sprite.png') -138px -62px no-repeat;
} */

/* #block-menu-menu-site-menu  ul li:first-child + li a { background: url('../images/tab_sprite.png') -138px -62px no-repeat; } */
#block-menu-menu-site-menu  ul li:first-child + li a:hover { background: url('../images/tab_sprite.png') -138px -31px no-repeat; }
#block-menu-menu-site-menu  ul li:first-child + li a.active { background: url('../images/tab_sprite.png') -138px 0px no-repeat; }

/* tab 3 */
#block-menu-menu-site-menu  ul li:nth-child(3) a.active { background: url('../images/tab_sprite.png') -276px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:nth-child(3) a:hover{ background: url('../images/tab_sprite.png') -276px -31px no-repeat; }
/* #block-menu-menu-site-menu  ul li:nth-child(3) a { background: url('../images/tab_sprite.png') -276px -62px no-repeat; } */

#block-menu-menu-site-menu  ul li:first-child + li + li a.active { background: url('../images/tab_sprite.png') -276px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:first-child + li + li a:hover { background: url('../images/tab_sprite.png') -276px -31px no-repeat; }
/* #block-menu-menu-site-menu  ul li:first-child + li + li a { background: url('../images/tab_sprite.png') -276px -62px no-repeat; } */

/* tab 4 */
#block-menu-menu-site-menu  ul li:nth-child(4) a.active{ background: url('../images/tab_sprite.png') -414px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:nth-child(4) a:hover{ background: url('../images/tab_sprite.png') -414px -31px no-repeat; }
/* #block-menu-menu-site-menu  ul li:nth-child(4) a { background: url('../images/tab_sprite.png') -414px -62px no-repeat; } */

#block-menu-menu-site-menu  ul li:first-child + li + li +li a.active { background: url('../images/tab_sprite.png') -414px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:first-child + li + li +li a:hover { background: url('../images/tab_sprite.png') -414px -31px no-repeat; }
/* #block-menu-menu-site-menu  ul li:first-child + li + li + li a { background: url('../images/tab_sprite.png') -414px -62px no-repeat; } */

/* tab 5 */
#block-menu-menu-site-menu  ul li:nth-child(5) a.active{ background: url('../images/tab_sprite.png') 0px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:nth-child(5) a:hover{ background: url('../images/tab_sprite.png') 0px -31px no-repeat; }
/* #block-menu-menu-site-menu  ul li:nth-child(5) a { background: url('../images/tab_sprite.png') 0px -62px no-repeat; } */

/*#block-menu-menu-site-menu  ul li:first-child + li + li +li a.active { background: url('../images/tab_sprite.png') -414px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:first-child + li + li +li a:hover { background: url('../images/tab_sprite.png') -414px -31px no-repeat; }
#block-menu-menu-site-menu  ul li:first-child + li + li + li a { background: url('../images/tab_sprite.png') -414px -62px no-repeat; }*/

/* tab 6 */
#block-menu-menu-site-menu  ul li:nth-child(6) a.active{ background: url('../images/tab_sprite.png') -414px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:nth-child(6) a:hover{ background: url('../images/tab_sprite.png') -414px -31px no-repeat; }
/* #block-menu-menu-site-menu  ul li:nth-child(6) a { background: url('../images/tab_sprite.png') -414px -62px no-repeat; } */

#block-menu-menu-site-menu  ul li:first-child + li + li +li + li + li a.active { background: url('../images/tab_sprite.png') -414px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:first-child + li + li +li +li + li a:hover { background: url('../images/tab_sprite.png') -414px -31px no-repeat; }
/* #block-menu-menu-site-menu  ul li:first-child + li + li + li + li + li a { background: url('../images/tab_sprite.png') -414px -62px no-repeat; } */


/* tab 7 */
#block-menu-menu-site-menu  ul li:nth-child(7) a.active{ background: url('../images/tab_sprite.png') 0 0px no-repeat; }
#block-menu-menu-site-menu  ul li:nth-child(7) a:hover{ background: url('../images/tab_sprite.png') 0 -31px no-repeat; }
/* #block-menu-menu-site-menu  ul li:nth-child(7) a { background: url('../images/tab_sprite.png') 0 -62px no-repeat; } */

/*#block-menu-menu-site-menu  ul li:first-child + li + li +li + li + li a.active { background: url('../images/tab_sprite.png') -414px 0px no-repeat; }
#block-menu-menu-site-menu  ul li:first-child + li + li +li +li + li a:hover { background: url('../images/tab_sprite.png') -414px -31px no-repeat; }
#block-menu-menu-site-menu  ul li:first-child + li + li + li + li + li a { background: url('../images/tab_sprite.png') -414px -62px no-repeat; }*/

.region-user-second { padding-top: 2px; }

/* @end */


/* Main Nav Menu */
.nav-menu {
	margin: 0px;
	padding: 0px;
	position: relative;
}
.nav-menu li.menu-parent {
	float: left;
	list-style-type: none;
	background: url('../images/dots_bg.png') center right no-repeat !important;
	position: static;
	overflow: hidden !important;
}
.nav-menu li.menu-parent:last-child {
	background: none !important;
}
.nav-menu li.menu-parent .cat2-h2  {
	margin: 0px;
}
.nav-menu li.menu-parent .cat2-h2 a  {
	text-transform: uppercase;
	padding: 6px 28px 6px 11px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 1.05em;
	color: #222;
	height: 22px;
	width: 65px;
	display: block;
	overflow: hidden !important;
	background: url('../images/arrow_down_gray.png') center right no-repeat;
}

.nav-menu.articles li.menu-parent .cat2-h2 a{font-size: 14px; color: #626262}

#second-line.articles li.menu-parent {border-top: 1px solid #ddd;}

.nav-menu.experts li.menu-parent .cat2-h2 a {
	text-transform: none;
}

.nav-menu li.menu-parent .cat2-h2 a.cat2-h2-wide {
    width: 104px !important;
}

/* .cat2-h2 a.cat2-h2-wide{
  width:104px !important;
} */

.nav-menu li.menu-parent:first-child .cat2-h2 a { width: 76px; }
.nav-menu li.menu-parent:nth-child(2) .cat2-h2 a{ width: 72px; }
.nav-menu li.menu-parent:nth-child(3) .cat2-h2 a { width: 60px ; }
.nav-menu li.menu-parent:nth-child(4) .cat2-h2 a{ width: 36px !important; }
.nav-menu li.menu-parent:nth-child(5) .cat2-h2 a{ width: 52px !important; }
.nav-menu li.menu-parent:nth-child(6) .cat2-h2 a { width: 69px !important; }
.nav-menu li.menu-parent:nth-child(7) .cat2-h2 a { width: 74px !important; }
.nav-menu li.menu-parent:nth-child(8) .cat2-h2 a { width: 38px !important; }
.nav-menu li.menu-parent:nth-child(9) .cat2-h2 a{ width: 99px !important; }

.nav-menu.experts li.menu-parent:first-child .cat2-h2 a { width: 18px !important; }
.nav-menu.experts li.menu-parent:nth-child(2) .cat2-h2 a{ width: 44px !important; }
.nav-menu.experts li.menu-parent:nth-child(3) .cat2-h2 a{ width: 61px !important; }
.nav-menu.experts li.menu-parent:nth-child(4) .cat2-h2 a { width: 45px !important; }
.nav-menu.experts li.menu-parent:nth-child(5) .cat2-h2 a{ width: 77px !important; }
.nav-menu.experts li.menu-parent:nth-child(6) .cat2-h2 a { width: 103px !important; }
.nav-menu.experts li.menu-parent:nth-child(7) .cat2-h2 a{ width: 56px !important; }
.nav-menu.experts li.menu-parent:nth-child(8) .cat2-h2 a { width: 83px !important; }
.nav-menu.experts li.menu-parent:nth-child(9) .cat2-h2 a { width: 102px !important; }

/* "+ li" CSS added for IE8 */
.nav-menu li.menu-parent:first-child .cat2-h2 a { width: 76px !important; }
.nav-menu li.menu-parent:first-child + li .cat2-h2 a { width: 72px; }

 .nav-menu li.menu-parent:first-child + li + li .cat2-h2 a { width: 60px !important; }
 .nav-menu li.menu-parent:first-child + li + li + li .cat2-h2 a { width: 36px !important; }
.nav-menu li.menu-parent:first-child + li + li + li + li .cat2-h2 a { width: 52px !important; }
 .nav-menu li.menu-parent:first-child + li + li + li + li + li .cat2-h2 a { width: 69px !important; }
 .nav-menu li.menu-parent:first-child + li + li + li + li + li + li .cat2-h2 a { width: 74px !important; }
.nav-menu li.menu-parent:first-child + li + li + li + li + li + li + li .cat2-h2 a { width: 38px !important; }
 .nav-menu li.menu-parent:first-child + li + li + li + li + li + li + li + li .cat2-h2 a { width: 99px !important; }

.nav-menu.experts li.menu-parent:first-child .cat2-h2 a { width: 18px !important; }
.nav-menu.experts li.menu-parent:first-child + li .cat2-h2 a { width: 44px !important; }
.nav-menu.experts li.menu-parent:first-child + li + li .cat2-h2 a { width: 61px !important; }
.nav-menu.experts li.menu-parent:first-child + li + li + li .cat2-h2 a { width: 45px !important; }
 .nav-menu.experts li.menu-parent:first-child + li + li + li + li .cat2-h2 a { width: 77px !important; }
.nav-menu.experts li.menu-parent:first-child + li + li + li + li + li .cat2-h2 a { width: 103px !important; }
 .nav-menu.experts li.menu-parent:first-child + li + li + li + li + li + li .cat2-h2 a { width: 56px !important; }
.nav-menu.experts li.menu-parent:first-child + li + li + li + li + li + li + li .cat2-h2 a { width: 83px !important; }
 .nav-menu.experts li.menu-parent:first-child + li + li + li + li + li + li + li + li .cat2-h2 a { width: 102px !important; }


.nav-menu.articles li.menu-parent:first-child .cat2-h2 a { width: 76px !important; }
.nav-menu.articles li.menu-parent:nth-child(2) .cat2-h2 a{ width: 72px !important; }
.nav-menu.articles li.menu-parent:nth-child(3) .cat2-h2 a{ width: 60px !important; }
.nav-menu.articles li.menu-parent:nth-child(4) .cat2-h2 a { width: 46px !important; }
.nav-menu.articles li.menu-parent:nth-child(5) .cat2-h2 a{ width: 52px !important; }
.nav-menu.articles li.menu-parent:nth-child(6) .cat2-h2 a { width: 69px !important; }

.nav-menu.articles li.menu-parent:first-child .cat2-h2 a { width: 76px !important; }
.nav-menu.articles li.menu-parent:first-child + li .cat2-h2 a { width: 72px !important; }
.nav-menu.articles li.menu-parent:first-child + li + li .cat2-h2 a { width: 60px !important; }
.nav-menu.articles li.menu-parent:first-child + li + li + li .cat2-h2 a { width: 46px !important; }
.nav-menu.articles li.menu-parent:first-child + li + li + li + li .cat2-h2 a { width: 52px  !important; }
.nav-menu.articles li.menu-parent:first-child + li + li + li + li + li .cat2-h2 a { width: 69px !important; }






.nav-menu li.menu-parent .cat2-h2 a.active {
	color: #fff;
	background: #eb1d23 url('../images/arrow_down_gray.png') center right no-repeat;
}
.nav-menu .container {
	position: absolute;
	left: 0px;
	z-index: 100;
	font-family: Calibri;
	width: 910px !important;
	padding: 15px 15px 5px 15px;

	background: #fff;
	border: 1px solid #eb1d23;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
	-webkit-box-shadow: 1px 1px 3px #999;

	display: none;
}
#nav-menu-block .nav-menu .container {
	z-index: 1000; /*make sure hover nav menu appears on top of category page nav menu */
}
.nav-menu .container h3 {
	font-size: 17px;
	line-height: 17px;
	margin-top: 0px;
	margin-bottom: 3px;
}
.nav-menu .container ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 15px;
}
.nav-menu .container ul li {
	display: block;
	line-height: 18px;
}
.nav-menu .container ul li a {
	color: #555;
	text-decoration: none;
	font-size: 13px;
}
.nav-menu .container ul li a:hover {
	color: #000;
}
.nav-menu .container table, .nav-menu .container tbody {
	border: none;
}
.nav-menu .container td {
	vertical-align: top;
	padding: 0px 2px;
	/*width: 173px;*/
	/*margin-right: 15px;*/
}
.nav-menu .container td:last-child {
	/*margin-right: 0px;*/
}
.nav-menu .container td img {
	margin-top: -15px;
	margin-bottom: 10px;
}


.megamenu-menu li {
	background: url('../images/dots_bg.png') center right no-repeat !important;
}
.megamenu-menu li.last {
	background: none !important;
}
.megamenu-menu li .cat2-h2 a ,
.megamenu-menu li h2 a{
	padding: 8px 28px 8px 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	color: #222;
	height: 15px;
	background: url('../images/arrow_down_gray.png') center right no-repeat;
}
.megamenu-menu li .cat2-h2 a:first {padding-left: 3px; }

.megamenu-menu li .cat2-h2 a:hover {
	color: #fff;
	background: #eb1d23 url('../images/arrow_down_gray.png') center right no-repeat;
}


.megamenu-skin-minimal .megamenu-bin {
	background: #fff;
	border: 1px solid #eb1d23;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	padding: 20px 0;

	box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
	-webkit-box-shadow: 1px 1px 3px #999;

	font-family: Calibri;

	/* For IE 8
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000',ShadowOpacity=0.30)";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000',ShadowOpacity=0.30);*/

	width: 940px !important;
	/*min-height: 404px;*/
	/*max-height: 500px !important; */
}

#megamenu-main-menu .li_cont{
	position: static !important;
	width: 232px !important;
	max-width: 232px !important;
	min-width: 232px !important;
	margin-right: 1px;
	overflow: hidden;
	float: left !important;
	clear: none;
}

.megamenu-menu .megamenu-parent{
	position: static;
}

#megamenu-main-menu{
	position: relative;
	z-index: 15;
}

.megamenu-skin-minimal .megamenu-items{
	margin: 0px;
}

.megamenu-skin-minimal .megamenu-items li{
	display: block !important;
	float: none !important;
	line-height: 18px;
}

.megamenu-skin-minimal .megamenu-items li:hover{
	background: #FFF;
}

.megamenu-skin-minimal .megamenu-items li:hover a{
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	text-shadow: none;
}

.megamenu-skin-minimal .megamenu-items a{
	display: block;
	padding: 0 10px 0 35px;
	width: 100%;
	color: #4b4b4b;
	white-space: normal;
	text-decoration: none;
	font-size: 13px;
}
.megamenu-skin-minimal .megamenu-items a:hover {
	font-weight: normal !important;
	color: #000 !important;
}

.megamenu-skin-minimal .megamenu-slot{
	border: 0 none;
	width: 239px;
	margin: 0 1px 15px 0;
}

.megamenu-skin-minimal .megamenu-slot{
	float: left;
}

.megamenu-skin-minimal .megamenu-slot-title{
	padding: 5px 20px;
}

.megamenu-skin-minimal .megamenu-slot-title,
.megamenu-skin-minimal .megamenu-slot-title a,
.megamenu-skin-minimal .megamenu-slot-title a:hover {
	background-color: transparent;
	color: #eb1d23;
	text-align: left;
	text-transform: capitalize;
	font-weight: bold;
	text-decoration: none;
	white-space: normal;
	font-size: 16px;
}




/* Social Icons */
.social-actions {
	float: right;
  position: relative;
  z-index: 9;
  height: 20px;
  margin-top: 3px;
}

.social-actions  .menu li{
	margin-left: 2px;
}

.social-actions iframe{float: right;}

#block-menu-block-12 .menu li a{
	display: block;
	height: 25px;
	width: 25px;
	color: transparent;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 0;
}

#block-menu-block-12 .menu .menu-mlid-2540 a,
#em_social .facebook a{
	background-image: url('../images/btn_facebook_up.gif');
}

#block-menu-block-12 .menu .menu-mlid-2541 a,
#em_social .twitter a{
	background-image: url('../images/btn_twitter_up.gif');
}

#block-menu-block-12 .menu .menu-mlid-2540 a:hover,
#em_social .facebook a:hover{
	background-image: url('../images/btn_facebook_over.gif');
}

#block-menu-block-12 .menu .menu-mlid-2541 a:hover,
#em_social .twitter a:hover{
	background-image: url('../images/btn_twitter_over.gif');
}

#em_social .facebook a,
#em_social .twitter a{
	display: inline-block;
	height: 25px;
	width: 25px;
	color: transparent;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 0;
	text-indent: -3000em;
}






#block-search-form .block-inner{
	margin: 0;
}


/* region content view blocks */
.front #results > .region-results{
	padding-top: 20px;
}

#content > .region-content .block-block{
	margin-bottom: 15px;
}


#main-content .block-views .view-content ul{
	list-style: none;
}



#search-results-thumb li a,
#main-content .block-views .view-content li a,
a.expert{
	text-decoration: none;
	color: #4B4B4B;
}

#results-wrapper .views-field-title a,
#results-wrapper .videoname a,
#main-content .block-views .view-content li .views-field-title a{
	color: #EB1D23;
}

a.expert{
	border: 1px solid #EEE;
	box-shadow: 1px 1px #c4c5c6;
	border-radius: 5px;
	border-radius: 3px;
	font-weight: bold;
	padding: 2px 10px;
	position: absolute;
	z-index: 2;
	right: 3px;
	top: -28px;
}

/* Modal Expert windows */

.ems_sub_header {
	padding-top: 15px;
	margin-bottom: 15px;
	color: #4b4b4b;
}

.ems_sub_header label {
	float: left;
	text-transform: uppercase;
	margin-right: 10px;
}

.ems_sub1_header {
	color: #939598;
	font-weight: bold;
	margin-left: 10px;
}

#search-results li tr.views-field-title a:hover,
#main-content #search-results tr.views-field-title a:hover,
#main-content .block-views .view-content tr.views-field-title a:hover,
tr.views-field-title a:hover,
#search-results-thumb .search-results .videoname a:hover,
#search-results-list .videoname a:hover{
	color: #c4c5c6;
}

#content .views-table th.views-field,
#content .views-table th.views-field a {
	margin-left: 10px;
}

th.views-field a img {
	margin: 0 0 0 4px;
	vertical-align: baseline;
}

#search-results li .views-field-title a,
/*tbody .views-field-title a,*/
.views-table tbody tr td.views-field-title a,
#search-results-thumb .search-results tbody .videoname a{
	color: #EB1D23;
	font-weight: bold;
	text-decoration: none;
}

.ui-widget-content thead th a{
	color: #939598;
}

.view-expert-list th.views-field-title a:after{
	content: url('../images/descending.png');
	left: 5px;
	position: relative;
	top: 2px;
}

.view-expert-list th.views-field-title.active a:after{
	content: none;
}


#main-content #search-results th.views-field-title a,
#main-content .block-views .view-content th.views-field-title a,
#em_vid .views-table th a{
	color: #939598;
}

#search-results-thumb .search-results a:hover span.play,
#main-content .block-views .view-content a:hover span.play,
.views-table tbody tr:hover td.views-field-title a span.play,
.view-video-search-results .view-content li a:hover span.play,
#main-content .block-views .view-content tr:hover a span.play,
#main-content .block-views .view-content tr:hover td.views-field-title a,
 .block-views .view-content td.views-field-title a:hover span.play,
span.play:hover{
	color: #c4c5c6;
	background-position: -240px -286px;
}

#search-results-thumb .search-results li,
.view-video-search-results .view-content li {
	position: relative;
}

#search-results-thumb .search-results span.play,
.view-video-search-results .view-content span.play {
	position: absolute;
	top: 5px;
	left: 5px;
}
.category-results-wrapper ul {
  margin-top: 5px !important;
}

.category-results-list-wrapper div.view-content table.views-table thead {
  width: 925px;
}
.category-results-list-wrapper div.view-content table.views-table thead th {
  width: 250px;
  text-align: left;
}
.category-results-list-wrapper div.view-content table.views-table thead th.views-field-title {
  width: 578px;
}
.category-results-list-wrapper div.view-content table.views-table th.views-field-field-job-title {
  width: 350px;
}

#main-content .jcarousel .views-field-title,
#main-content .jcarousel .videoname{
	width: 178px;
}


#main-content #results h3.search-term{
	color: #EB1D23;
	font-size: 13px;
}

/* views */
#block-utils-search-results-tab .block-content,
#main-content .block-views .block-content{
	position: relative;
	clear: both;
}

#block-utils-search-results-tab .block-content{
	margin-bottom: 10px;
}

 .jcarousel-clip{
	overflow: hidden;
}

.jcarousel-prev, .jcarousel-next{
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 9;
	cursor: pointer;
	color: transparent;
}

.jcarousel-prev, .jcarousel-next{
	width: 24px;
	height: 75px;
	top: 12px;
}

 .jcarousel-prev, .jcarousel-next{
	top: 42px;
}

.jcarousel-prev.jcarousel-prev-disabled,
.jcarousel-next.jcarousel-next-disabled {
	display: none !important;
}

.jcarousel-prev{
	background: url('../images/btn_slider_sprite.png') 0px 0px no-repeat;
	width: 24px;
	height: 75px;
	left: -23px;
}
.jcarousel-next{
	background: url('../images/btn_slider_sprite.png') 0px -75px no-repeat;
	width: 24px;
	height: 75px;
	right: -21px;
}
.jcarousel-prev:hover{
	background: url('../images/btn_slider_sprite.png') -24px 0px no-repeat;
	width: 24px;
	height: 75px;
}
.jcarousel-next:hover{
	background: url('../images/btn_slider_sprite.png') -24px -75px no-repeat;
	width: 24px;
	height: 75px;
}

/* big carousel */
#block-views-video-search-results-block-2 .jcarousel-item div {
	width: 630px;
	height: 354px;
	margin: 0 auto;
}
#block-views-video-search-results-block-2 .jcarousel-item img {
	width: 100%;
	height: 100%;
}

#block-views-video-search-results-block-3,
#block-views-video-search-results-block-4,
#block-views-video-search-results-list-block,
#block-views-8ab0f97376fb4affd962a1ac599b8156,
#block-views-8ab0f97376fb4affd962a1ac599b8156,
#block-views-9d0528c831e5b3adb31134f3ff7844e3,
#block-views-639f0f51daa2d1dc6723d478c5dba4bd {
	display: none;
	margin-bottom: 1.5em;
}

#block-views-video-search-results-block-1 h2.block-title,
#block-views-video-search-results-block-3 h2.block-title{
	padding-top: 0px;
}

#utils-sort-block-form .form-item label  {
    display: inline;
}

#block-utils-sort-select {
  float: right;
  z-index: 2;
  padding-bottom: 5px;
}

#block-utils-sort-select .form-type-select.form-item-sortby,
#utils-sort-block-form{
	margin: 0;
}

.views-table tr.odd td.active,
.views-table tr.even td.active,
.views-table tr.odd,
.views-table tr.even,
.views-table tr.info,
.views-table tr.search_row {
}

.views-table tbody {
	border-bottom: 1px solid #F0F0F0;
	border-top: 0 none;
}

.views-table tbody tr{
	border-top: 1px solid #F0F0F0;
}

.views-table tbody tr td a,
table.search-table tbody tr td a{
	color: #494949;
	text-decoration: none;
}

.views-table tbody tr td a:hover,
table.search-table tbody tr td a:hover{
	text-decoration: underline;
}

.view-expert-list .view-content,
.view-expert-videos .view-content,
.view-video-search-results-list .view-content {
	overflow: hidden;
	clear: both;
}

.view-video-search-results-list .view-content {
	width: 938px;
}

.view-expert-videos .view-content{
	width: 658px;
	height: 390px;
}

.view-expert-list .view-content .views-table,
.view-expert-videos .view-content .views-table,
.view-video-search-results-list .views-table{
	float: left;
	margin: 0;
}

.view-video-search-results-list .views-table{
	width: 938px;
}

.view-expert-videos .view-content .views-table{
	width: 658px;
}

.view-expert-list .views-table thead tr,
.view-expert-videos .views-table thead tr,
.view-video-search-results-list .views-table thead tr{
	display: block;
	position: relative;
}

.view-expert-list .views-table tbody,
.view-expert-videos .views-table tbody,
.view-video-search-results-list .views-table tbody{
	display: block;
	overflow: auto;
	width: 100%;
	font-size:90%;
}
.view-video-search-results-list .views-table tbody{
	height: 144px;
  font-size: 100%;
}

/* @group Webkit scrollbars (NOT WORKING RIGHT) */

.views-table tbody::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.views-table tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px red;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
 .views-table tbody::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: red;
    -webkit-box-shadow: inset 0 0 6px red;
}
.views-table tbody::-webkit-scrollbar-thumb:window-inactive {
	background: red;
}

/* @end */

.view-expert-videos .views-table tbody{
	height: 357px;
}

.view-expert-list .views-table tbody{
	height: 320px;
}

.view-video-search-results-list .views-table th + th + th {
	width: 233px;
}
.view-video-search-results-list .views-table th + th {
	width: 408px;
}

.view-video-search-results-list .views-table th{
	width: 50px;
	border-bottom: 0 none;
}

.view-expert-list .views-table tr th,
.view-expert-list .views-table tr td{
	width: 425px;
}

#main-content .view-video-search-results-list .views-table td.views-field-title{
	width: 460px;
}

.view-video-search-results-list .views-table td + td + td {
	width: 267px;
}
.view-video-search-results-list .views-table td + td {
	width: 202px;
}
.view-video-search-results-list .views-table td{
	width: 64px;
	padding: 4px 0;
}

/** experts table listing **/
.view-expert-videos .views-table th.views-field-title {
	width: 658px;
}

.view-expert-videos .views-table th.views-field-field-video-source{
	width: 50px;
}

.view-expert-videos .views-table td.views-field-title {
	width: 644px;
}

.view-expert-videos .views-table td.views-field-field-video-source{
	width: 50px;
}


/** end experts table listing **/

#search-results-thumb ul.pager{
	display: none;
}


/** view as **/
#block-utils-thumb-list-select .content{
	float: right;
}

#block-utils-thumb-list-select #view-as{
	float: left;
	margin: 0.4em;
}

#block-utils-thumb-list-select #edit-whichview {
	margin-left: 85px;
}

#block-utils-thumb-list-select div.form-type-radio{
	float: left;
	margin-right: 10px;
}

#block-utils-thumb-list-select .form-type-radio input[type=radio]{
}

#block-megamenu-main-menu { margin: 0; height: 31px;}


/**SEARCH RESULTS**/
#block-utils-search-results-tab #search-results-list {
	height: auto;
	max-height: 350px;
	/* overflow-y: scroll; */
}

#block-utils-search-results-tab #search-results-list::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#block-utils-search-results-tab #search-results-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px red;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#block-utils-search-results-tab #search-results-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: red;
    -webkit-box-shadow: inset 0 0 6px red;
}
#block-utils-search-results-tab #search-results-list::-webkit-scrollbar-thumb:window-inactive {
	background: red;
}

.view-id-video_search_results .view-empty{
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #4b4b4b;
	font-weight: bold;
	padding-left: 10px;
	vertical-align: center;
	text-transform: capitalize;
}

.front #results div.region-results{
	padding: 0px;
}

#search-results-list tbody tr{
	border-top: 1px solid #F0F0F0;
	font-size: 100%;
	float: none;
}

#search-results-list th.name-title{
	width: 408px;
}

#search-results-list th.play-button{
	width: 50px;
}

#search-results-list .videoname a{
	color: #EB1D23;
	font-weight: bold;
	text-decoration: none;
	width: 275px;
}

.special-nav-image{
  margin-bottom: 20px !important;
  margin-left: -200px;
  margin-top: -400px !important;
}

.nav-menu li.menu-parent .cat3-h3 a{
  font-size: 1.2em;
  font-weight: bold;
}




.red-eraser {
  font-size: 28px;
  text-transform: uppercase;
  padding: 0 20px 20px 0;
  text-align: center;
  max-width: 720px;
}

.sitemaps-left{
  width: 48%;
  float: left;

}

.sitemaps-right{
  width: 48%;
  float: left;

}

ul.sitemaps-ul{
  list-style:none;
  margin: 0;
  padding: 0;
}
ul.sitemaps-ul li{
  list-style-type:none;
  padding: 5px;

}

.premium-download-btn {
  min-width: 320px;
  height: 43px;
  border: 1px solid #0870c0;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  /*
  background: url('/sites/default/files/btn-download-sprite-bg.png') no-repeat top left;
  */
}

.premium-download-btn span {
  position: relative;
  top: 10px;
  left: 0px;
  font-weight: bold;
  text-transform: uppercase;
}

.premium-download-btn:hover {
  /*
  background: url('/sites/default/files/btn-download-sprite-bg.png') no-repeat bottom left #ec3035;
  */
  color:#fff;
  background-color : #0870c0;
}


/************ sitemaps  **************/

.sitemaps-left {
    width: 48%;
    float: left;
}
.sitemaps-right {
    width: 48%;
    float: left;
}
ul.sitemaps-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.sitemaps-ul li {
    list-style-type: none;
    padding: 5px;
}


/********  END sitemaps  ***********/

@media screen and (max-width: 680px) {
.sitemaps-left{
width: 100%;
}

.sitemaps-right {
    width: 100%;
}
a.premium-download-btn {
    min-width: 100%;
}
}




.nav-menu .container-gung {
  display: block;
  position: relative;
  width: 98%;
    font-family: Calibri;
    padding: 10px 10px 5px 10px;
    background: #fff;
    border: 1px solid #0870c0;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -webkit-box-shadow: 1px 1px 3px #999;
}

h1, h2 {
    margin: 15px 0;
}

ul {
  list-style-type:none;
  padding-left: 10px;
}

.container-gung table td{
    vertical-align: top;
    border: none;
}


.nav-menu .container-gung ul li a {
    color: #333333;
    font-size: 15px;
    padding: 0;
}

.nav-menu .container-gung ul li a:hover {
    color: #D10000;
    padding-top: 1px;
}


.nav-menu .container-gung table img {
  width: 75%;
}


.nav-menu .container-gung table img.special-nav-image {

}


@media screen and (max-width: 699px) {
  .nav-menu .container-gung ul li {
    padding: 2px 0;
  }
  .nav-menu .container-gung ul li a{
    font-size: 1.1em;
  }

  .nav-menu .container-gung {
    padding:0 0 10px 0;
    margin: 0 0 10px 0;
    border: none;
    border-bottom: 2px solid #eb1d23;
    -moz-border-radius:none;
    -webkit-border-radius: none;
    border-radius: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
     width: 100%;
  }

  h1, h2 {
    margin: 0;
  }

  ul {
    list-style-type:none;
    padding-left: 2px;
  }

  table, tbody, tr, td, th{
    padding:0;
    margin: 0;
  }


  img.special-nav-image {
    margin-bottom: 20px !important;
    margin-left: -100px;
    margin-top: -400px !important;
  }
}

#handprints,
#black-white{
  display: none;
}
