#premium-header {
  max-width:1020px;
  margin-left: -40px;
  width:calc(100% + 80px);
  height: auto;
  margin-bottom: 20px;
}

.premium-tv-bg{
  background-color: #e9e9e9;
  width: calc(100% + 80px);
  margin-left: -40px;
  height: 960px;
  overflow-y:auto;
}
.premium-tv-header {
    /*width: 98.4%;*/
  padding-bottom: 30px;
  padding: 20px 0 10px 15px;
  height: 68px;
      margin-left: 40px;
}

#premium-responsive-img {
  width:100%;
  height: auto;
  max-width:300px;
  float:left;
  margin-bottom:10px;
}


.clear-classes{
  padding: 20px 0;
}

.premium-divider {
font-family: sans-serif;
  height: 63px;

  /* color: #fff; */
  /*height: 120px;*/
  /* width: calc(100% + 80px); */
  /* left: -40px; */
  position: relative;
  /* background: url(/sites/default/files/graybg_1.jpg) no-repeat; */
  /* text-align: center; */
}

.premium-divider-slim {
    height: 70px;
    width: calc(100% + 80px);
    left: -40px;
    position: relative;
    background: url('/sites/default/files/graybg-slim-3b.jpg') no-repeat;
}
.premium-divider span {
    font-size: 24px;
        font-weight: bold;
    margin: 0 auto;
    margin-top: 48px;
    /*text-transform: uppercase;*/
    display: inline-block;
}


.premium-livetv-episodes {
  /*margin: 0;*/
  padding: 0;
  min-height: 743px;
  height: auto;
  background-color: ##e9e9e9;
  margin-left: 40px;
}
.premium-livetv-episodes .signup-premium{
  display: none;
}

.premium-livetv-episodes .livetv-text{
  padding-top: 31px;
}


.tv-ep {
  margin-bottom:50px;
}

.tv-ep-left {
  max-width:200px;
  width:100%;
  float:left;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}
.tv-ep-right {
  max-width:700px;
  width:calc(100% - 240px);
  float:right;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

#episode1 {
  max-width:200px;
  margin-right:30px;
}

#baby-care-101-img {
  max-width:200px;
  margin-right:30px;
}

ul.checkmark {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
ul.checkmark li {
    background:url('/sites/default/files/checkmark.png') no-repeat 0 50%;
    padding-left: 20px;
}

ul.checkmark {
    list-style-type: none;
}

.premium-animate {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}


.premium-top-tips-container {
  width:100%;
  margin-top:60px;
}



.premium-top-tips-item {
  max-width:445px;
  width:100%;
  min-height:215px;
  float:left;
  margin-right:40px;
  margin-bottom:40px;
}

.top-tips-left{
  float: left;
    /* max-width: 175px; */
  height: 250px;
}

.premium-top-tips-item:nth-child(odd) {
  margin-right:0 !important;
}

.premium-top-tips-img {
  /* float: left; */
  max-width: 200px;
  /* margin-bottom: 30px; */
}
.premium-top-tips-title {
  font-family: "Eraser";
  text-transform:uppercase;
  color: #666;
  font-size:22px;
      height: 53px;
}
.premium-top-tips-desc {
  color:#888;
  margin-top:10px;
  margin-bottom:20px;
}

.top-tips-right .premium-download-btn {
  /*width:230px; */
  min-width: 230px;
  height:43px;
  /*border:1px solid #ec3035;*/
  border: 1px solid #dacaca;

  border-radius:4px;
  display:inline-block;
  text-align:center;
  font-size: 15px;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background: url('/sites/default/files/btn-download-sprite-bg.png') no-repeat top left;
}


a.premium-download-btn {
  color: #827676;
}
.premium-download-btn:hover {
  background: url('/sites/default/files/btn-download-sprite-bg.png') no-repeat bottom left #ec3035;
  color:#fff;
}

.premium-animate {
  -moz-transition: all .8s linear;
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
}

.red-eraser {
  font-family:'Eraser';
  font-size:28px;
  text-transform:uppercase;
  color:#fa2129;padding-top:10px;
}

.clear {
  clear:both;
}

/* Brightcove code overwrites */

.premium-video-container {
  text-align:center;
  position: relative;
  top: -20px;
  margin: 20px auto;
}

.video-outer-wrapper {
  max-width:600px !important;
  margin:0 auto !important;
  border:1px solid #000 !important;
}
.video-js .vjs-big-play-button, .video-js .vjs-play-progress, .video-js .vjs-volume-level {
  background-color: #eb1d23;
}

.video-js .vjs-big-play-button {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 10px;
  background: none repeat scroll 0 0 #eb1d23;
  width: 85px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
}

.video-js .vjs-big-play-button {
  opacity: .9;
}
.bc-player-ceded457-c411-4c71-9ffe-58f496e7eb74_default.vjs-mouse .vjs-big-play-button {
  width:80px !important;
  height: 60px !important;
}
.bc-player-ceded457-c411-4c71-9ffe-58f496e7eb74_default .vjs-big-play-button:before {
  margin: 15px auto !important;
}

/********************/

.tv-ep-left-cut {
  max-width:249px;
  width:100%;
  float:left;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}
.tv-ep-right-cut {
  margin: 10px;
  max-width:647px;
  width:calc(100% - 240px);
  float:right;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
  font-size: 1.07em;
}


img.cut-video-thumb{
   margin:10px 0;
   padding: 3px;
   border:1px solid #FED3CE;
}

.cut-video-samll{
  display:none;
}

button{
  min-width: 220px;
  color: #FA2129;
  padding: 5px;

}

h1.index-title {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.65);
}


.view-premium-index .views-row img {
  width: 205px;
  height: 140px;
}


/* END Brightcove code overwrites */

@media only screen and (max-width: 1100px) {
  .premium-top-tips-item {
    max-width: 1100px !important;
    float:none;
  }
  .premium-top-tips-item:nth-child(odd) {
    margin-right:0 !important;
    float:none !important;
  }
}

@media only screen and (max-width: 800px) {

  .tv-ep-right, .tv-ep-left {
    max-width: none !important;
    width:100% !important;
    float:none !important;
  }

  .tv-ep-left {
    text-align:center;
  }

  .tv-ep-left img {
    max-width: 500px !important;
    width: 90%;
  }

  .premium-top-tips-img {
    float:none! important;
    max-width: 250px;
    margin:0 auto;
    margin-bottom:30px;
    display:inline-block;
  }

  .premium-top-tips-item {
    text-align:center !important;
  }

   .tv-ep-right-cut, .tv-ep-left-cut {
    max-width: none !important;
    width:100% !important;
    float:none !important;
  }

  .tv-ep-left-cut {
    text-align:center;
  }

  .tv-ep-left-cut img {
    max-width: 500px !important;
    width: 90%;
  }


}

@media only screen and (max-width: 768px) {
  #premium-header, .premium-divider,  .premium-divider-slim {
    width: 100%;
    left:0;
  }
  #premium-header{
    margin-left: 0;
  }

  .premium-tv-bg{
    height: 1219px;
  }
}

@media only screen and (max-width: 480px) {
  td.index-img {
    min-width: 120px;
  }
  td.views-field-field-premium-summary{
    display: none;
  }
  .index-img img{
    width: 100%;
    height:auto;
  }
  #zone-content #region-content .region-content-inner {
    margin-top: -20px;
  }

  .top-tips-left {
    float: none;
}


}
