#section-header,
#section-footer,
#dl-menu,
#region-page-top,
#talk-to-us,
#take-the-tour,
#step_2_button,
#validation-reminder,
#zone-preface-wrapper
{
  display: none !important;
}

#page {
  height: 402px !important;
}

#section-content {
  margin-top: 0px  !important;
  min-height: 402px !important;
}


.region-content-inner {
  margin: 15px auto !important;
}
