.signup-premium {
    margin: 0px 8px 11px 8px;
    text-align: center;
    font-size: 13px;
}
a.livetv-signup {
    width: 94.1%;
    border-radius: 2px;
}
a.landing-btn-red {
    padding: 9px 18px;
}
.livetv-star {
    padding: 0 4px;
    width: 22px;
}

@media only screen and (max-width: 768px){
  .right-vid-sm {
    padding: 7% 1%;
  }
}


@media only screen and (max-width: 640px){
  #region-preface-second .region-inner{
    text-align: center;
    width: 305px;
  }

  .left-vid-sm {
    width: 50%;
    margin-top: 5px;
  }

}

@media only screen and (max-width: 533px) {
  .signup-premium{
    margin-left: 3px;
    width: 97%;
  }
  a.livetv-signup {
    width: 92.1%;
  }
}

@media only screen and (max-width: 500px){
  .signup-premium {
    margin-right: 10px;
  }

  .ads-sidebar-container2 .ad-sidebar2 {
    clear: both;
  }

  .lg-red-ttl {
      font-size: 38px;
  }
  .left-vid-sm {
    width: 47%;
    margin-top: 26px;
  }
  .right-vid-sm img {
    width: 180px;
  }

}

@media only screen and (max-width: 400px){
  .left-vid-sm {
      width: 43%;
  }
}

@media only screen and (max-width: 360px){
  .signup-premium{
    margin-left: 3px;
    width: 95.5%;
  }
  .video-lockout{
    text-align: center;
  }
  .left-vid-sm {
    width: 100%;
    float: none;
  }
  .right-vid-sm {
    float: none;

  }
  .lg-red-ttl {
    font-size: 40px;
  }
  .lg-black-stl {
    font-size: 22px;
  }

  .right-vid-sm img{
    padding-left: 16%;
  }
}
