#block-kih-categories-kih-categories-firstcats,
#block-kih-downloads-kih-dls-all-parents,
#block-views-recent-blog-posts-block-1,
#block-views-recent-forum-posts-block-1,
#block-views-find-expert-block-1
{
  display: none;
}

.cat1-term-content .cat-description {
    font-size: 1.08em;
}

h1.first-level-cat-title{
  margin-top: -7px;
  font-size: 22px;
}

.nav-menu .container-gung {
  border-top: solid 2px #e2e2e2;
  /*font-size: 14px;*/
  display: block;
  position: relative;
  width: 98%;
  /*font-family: Calibri;*/
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px 5px 10px;
  background: #fff;
  /*border: 1px solid #eb1d23;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  box-shadow: 1px 1px 3px #999;
  -moz-box-shadow: 1px 1px 3px #999;
  -webkit-box-shadow: 1px 1px 3px #999;*/
}

.container-gung ul li{
  font-size:12px;
  color: #555;
  padding-top: 3px;
  padding-bottom: 3px;
}

.cat3-h3{
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: bold;
  line-height: 20px;
}

.container-gung h1, .container-gung h2 {
    margin: 15px 0;
}

.container-gung ul {
  list-style-type:none;
  padding-left: 0px;
  margin-bottom: 15px;
}

.container-gung table,
.container-gung tbody,
.container-gung tr,
.container-gung td,
.container-gung th{
    vertical-align: top;
    border: none;
}

.container-gung td,
.container-gung th{
  padding: 0;
}

.nav-menu .container-gung ul li a {
    color: #333333;
    /*font-size: 15px;*/
    padding: 0;
}

.nav-menu .container-gung ul li a:hover {
    color: #D10000;
    padding-top: 1px;
}


.nav-menu .container-gung table img {
  width: 75%;
}



#zone-content-wrapper .region-content-inner{
   margin-top: 10px;

}

ul.ca1-links-ul {
  padding: 0 0 20px 0;
	width: 100%;
	list-style: none;
  display: table;
  table-layout: fixed; /* optional */
  font-size: 1.1em;
  font-weight: bold;
}
li.cat1-link-li {
	display: table-cell;
  width: auto;
  padding: 8px 15px;
  margin-right: 30px;
  background-position: center left;
  background-image: url("../images/cat1/cat1-link-bg.jpg");
  background-repeat:no-repeat;
  letter-spacing: -0.4px;
}


#cat2-list {
  width: 100%;
  margin:0;
}

#cat2-lis .clear{
  clear:both;
}

#cat2-list-left{
  float: left;
  width: 48.2%;
}


#cat2-list-right{
  float: right;
  width: 48.2%;
}
.cat2-cat3{
  width:45%;
  padding-right: 0px;
}

.cat2-cat3-column1{
  float:left;
}

.cat2-cat3-column2{
  float:right;
}

.cat2-cat3-column3{
  float:left;
}

.cat2-cat3-column4{
  float:right;
}

#cat2-list-table{
  display:table;
}

.cat_items-table{
  width: 24%;
  /*float:left;*/
  display: table-cell;
}

img.cat1-image{
  max-width: 300px;
  float: right;
  margin-left: 20px;
  margin-bottom: 8px;
  /*border: #f3f2f2;
  border-style: solid;
  border-width: 2px;*/
}


#cat1-ads{
  float: left;
  width: 50%;
  /* padding-bottom: 16px; */
}

#cat1-ads img{
  width: 209px;
  border: 1px solid #e7eaed;
}



#cat1-ads .ads-moneytizer iframe {
  margin-left: -8px !important;
  width: 289px !important;
  height: 250px;
  border-right: 1px solid lightgrey !important;
}


/************* Mobile ************/
@media screen and (max-width: 699px) {
  .nav-menu .container-gung ul li {
    padding: 2px 0;
  }
  .nav-menu .container-gung ul li a{
    font-size: 1.1em;
  }

  .nav-menu .container-gung {
    padding:0 0 10px 0;
    margin: 0 0 10px 0;
    /*border: none;
    border-bottom: 2px solid #eb1d23;
    -moz-border-radius:none;
    -webkit-border-radius: none;
    border-radius: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;*/
     width: 100%;
  }

  .container-gung h1, .container-gung h2 {
    margin: 0;
  }

  .container-gung ul {
    list-style-type:none;
    padding-left: 2px;
  }

  .container-gung table,
  .container-gung tbody,
  .container-gung tr,
  .container-gung td,
  .container-gung th{
    padding:0;
    margin: 0;
  }
}



@media screen and (max-width: 500px){

  #block-kih-categories-kih-categories-firstcats,
  #block-kih-downloads-kih-dls-all-parents,
  #block-views-recent-blog-posts-block-1,
  #block-views-recent-forum-posts-block-1,
  #block-views-find-expert-block-1
  {
    display:block;
  }

  .nav-menu .container-gung{
    display:none;
  }

  .cat1-term-content{
    margin-top: 49px;
    padding: 15px;
  }

  img.cat1-image{
    width:60%;

  }

  li.cat1-link-li {
    display: flex;
  }
  ul.ca1-links-ul {
    margin-left: 10%;
  }
}
