#livetv-right-content #dsq-app3,
#livetv-right-content #dsq-app4,
#livetv-right-content #dsq-app5,
#livetv-right-content #dsq-app6,
#livetv-right-content #dsq-app7,
#livetv-right-content #dsq-app8,
#livetv-right-content #dsq-app9,
#livetv-right-content #dsq-app10,
#livetv-right-content #dsq-app11
{ display: none; }

#livetv-right-content #post-list .advertisement
#livetv-right-content .advertisement{
  display: none;
}

.children .post,
.children .children .pos,
#livetv-right-content .children .post,
#livetv-right-content .children .children .post{
  margin-left: 10px;
}



#livetv-content{
  float: left;
  /*margin-top: 12px;*/
}
#livetv-right{
  float: right;
}

#livetv-right-content {
    box-shadow: 0px 0px 24px rgba(173, 152, 152, 0.71);
    padding:10px;
    margin:0;
}

#livetv-content .livetv-container{
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 25px; */
  height: 0;
}
#livetv-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 99.5%; */
  /*height: 334px*/
}


#livetv-body{
  clear: both;
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0, .1);
  margin: 0px;
}

#livetv-body p {text-align:justify;}


#livetv-host{
  clear: both;
}


.container-12 .grid-8{
  width:63.8%;;
}

#livetv-right #comments.comment-wrapper {
  clear: both;
  margin-top: 0;
  padding: 0 6px;
}

#livetv-right input[type=text],
#livetv-right input[type=password],
#livetv-right textarea {
  max-width: 100%;
}


#livetv-content .article-title h1{
  margin: 13px 0 0 0;
}

h1.red-eraser-2{
  font-family: 'Eraser';
  font-size: 2.2em;
  text-transform: uppercase;
  color: #fa2129;
  padding: 0 20px 10px 0;
  text-align: left;
  max-width: 720px;
  font-weight: normal;
}

#livetv-content h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
#livetv-content h3 div {
    color: #555;
    font-weight: bold;
}

#video_info_right{
  display:block;
  margin-left: 49%;
  margin-bottom: 6px;
  margin-top: 10px;
}

#episodes_right{
  display:block;
  margin-bottom: 10px;
}

#video_info_left{
  display:none;
}
#episodes_left{
  display:none;
}

#livetv-right .comment-form .form-item-subject{
  /*display: none;*/
}
#livetv-right #edit-subject{
  /*display: none;*/
}

#livetv-guest, #livetv-sponsor, #livetv-book-product{
  /*padding:5px;*/
  clear:both;
  margin: 15px 0;
  background-color: #fff;
}

#livetv-guest{
  /*box-shadow: 0px 0px 8px rgba(0,0,0, .1);*/
  min-height: 271px;
}



h1.livetv-h1{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 8px;
  color:#eb1d23;
}

.view-live-tv-special-guest{
  /*padding-left: 19%;*/
}
#livetv-guest .view-content{
  /*margin-top: 20px;
  background-image: url(/sites/all/themes/gung_theme/images/livetv/polaroids-bg.png);
  width: 151px;
  height: 240px;
  text-align: center; */
  /* background-color: #d9d6cf; */
  /*background-size: 154px 240px;*/
}

#livetv-guest .views-row, #livetv-host .views-row{
  float: left;
  /*margin-top: 20px;*/
  margin-right: 0.3%;
  background-image: url(/sites/all/themes/gung_theme/images/livetv/polaroids-bg.png);
  width: 138px;
  height: 231px;
  text-align: center;
  background-size: 149px 240px;
  padding: 5px 5px 5px 4px;
  /* background-color: #d9d6cf; */
  /* width: 89%; */
  /*box-shadow: 2px 2px 3px rgba(113, 112, 112, 0.9);*/
  /*text-align: center;*/
  /*border: solid 2px #d9d5ce;*/
}

#livetv-guest .views-row img , #livetv-host .views-row img{
  width: 130px;
  height: 130px;
  padding-top: 4px;
  padding-left: 0;
}

#livetv-sponsor .views-row,
#livetv-book-product .views-row,
#livetv-media-partners .views-row {
  float: left;
  width: 135px;
  margin-right: 0.9%;
  text-align: center;
  padding: 5px 5px 5px 4px;
}


#livetv-book-product .views-row img,
#livetv-media-partners .views-row img{
  width: 136px;
  /* height: 218px; */
  height: auto;
}

#livetv-sponsor .views-row img{
  width: 136px;
  height: 140px;
}




.views-field-body .field-content{
  max-height: 220px;
  overflow: auto;
  /*font-style: italic;*/
}

.views-field-title{
  color: #eb1d23;
  /*font-weight: bold;*/
  /*padding-top: 5px;*/
}
.views-field-field-guest-career{
  /*font-weight: bold;*/
}
.views-field-field-guest-photo{
  text-align: center;
}
.field-content{
  padding: 1px 0;
  font-size:0.9em;
}
.views-field-body{
}

.comment-title{
  display:none;
}

.total-comments{
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 5px;
}

.livetv-container {
   position:relative;
  /*width: 560px;
  height: 315px;*/
}
.livetv-container .livetv {
    position:relative;
    z-index:0;
    width: 100%;
    display: block;
    /*padding: 20px;*/
}

.livetv-container .jw-skin-beelden{
  min-height: 328px;
}

iframe.vote-nodejs{
  height: 110px;
}

.vote-overlay {
  position: absolute;
  background: none transparent;
  width: 93%;
  height: 95px;
  top: 58.5%;
  left: 0;
  z-index: 1;
  padding: 0 20px;
  font-size: 1.1em;
}
.livetv-overlay {
    position:absolute;
    /*background: rgba(220, 220, 220, 0.7);*/
    background: rgba(49, 46, 46, 0.7);
    width: 93%;
    height: 88%;
      /*height: 287px;*/
    top:0;
    left:0;
    z-index:1;
    padding: 20px;
    font-size: 1.1em;
}

.livetv-overlay a{
  color: #ffffff;
}
.livetv-overlay a:hover{
  color: #aaaaaa;
}

.livetv-overlay-bar {
  position:absolute;
  /*background: rgba(220, 220, 220, 0.7);*/
  background: rgba(49, 46, 46, 0.8);
  width: 93%;
  height: 12%;
  left:0;
  top: 0;
  z-index:1;
  padding: 20px;
  font-size: 1.1em;
}

.livetv-register{
  text-align: center;
  clear: both;
  margin-top: 4%;
}

.livetv-register-hidden{
  display: none;
}
.livetv-reminder-hidden{
  display:none;
}

.livetv-overlay .landing-btn-red {
    text-transform: none;
    padding: 15px 15px;
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 7%;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(84, 73, 73, 0.9);
}

.countdown {
    /* margin: 10px 0px; */
    width: 100%;
    /* float: none; */
    text-align: center;
    padding-top: 47px;
}

.countdown-top {
    /* margin: 10px 0px; */
    width: 100%;
    /* float: none; */
    text-align: center;
    padding-top: 0px;
}

.livetv-reminder{
  /*margin: 10px 0px;*/
  text-align: center;
  width: 100%;
}

.all-calendar{
  clear: both;
  margin-top: 8px;
}

.calendar {
  width: 24%;
  float: right;
  background: #666666;
  border-radius: 18px;
  transition: all .4s linear;
  padding: 3px 1px;
  margin: 0 4%;
  font-size: 0.7em;
  color: white;
}

#getting-started {
    font-size: 1.4em;
    /* font-weight: 700; */
    color: #fff;
    font-family: sans-serif;
}

.lable{
  /*color: #eb1d23;*/
  color: #fff;
  text-transform:uppercase;
  /*font-weight: bold;*/
  padding-bottom: 4px;
  font-size: 1.1em;
}






#livetv-right img{
  width: 100%;
    max-width: 325px;
}

#comments article.comment p {
    margin: 5px 0;
    padding: 4px 0;

}
.author-datetime  {
    display: block;
    font-size: 13px;
}
.author-datetime .username{
  padding-right: 10px;
}

#comments article.comment {
    margin: 17px 0px;
}


#comments article.comment h3 {
    margin: 7px 0px;
}


#comments article.comment .inline li {
    padding: 9px 20px 10px 0px;
}

#comments article.comment .clearfix{
  margin-top: 5px;
}

#comments_episodes{
  display: none;
}

#comments article header{
  display:none;
}

.event-date{
    float: left;
    padding-right: 10px;
}

#livetv-sponsor, #livetv-book-product,  #livetv-media-partners{
  clear: both;
}



.livetv-bg{
  width: 99.7%;
}



#livetv-guest table{
  margin: 0 auto;
}

#livetv-guest table td{
  text-align: center;
  /*padding-left: 40px;*/
  width: 49.5%;
}

#livetv-guest a, #livetv-host a{
  color: #333333;
}


.hide-timer{
  display:none;
}
.show-timer{
  display:block;
}


#comments{
   word-wrap: break-word;
}

.indented {
    margin-left: 10px;
}




/*************** view livetv_episodes *************************/
.item-list .pager{
  display: none;
}
.views-row {
  float:left;
  width: 205px;
  /*padding: 5px;
  margin: 8px;*/
  padding: 13px;
  margin: 0px;
  /* min-height: 206px; */
  justify-content: center;
  align-items: center;
  height: auto;
}
.views-row p{
  margin-top: 5px;
}

/* For a 3-column grid */
.views-row:nth-child(4n+5) , .views-row:nth-child(8n+5){
 clear:left;
}

/*.views-row-5, .views-row-9, .views-row-13, .views-row-17, .views-row-21, .views-row-25, .views-row-29, .views-row-33, .views-row-37 {
  clear:left;
}*/

.views-row:nth-child(8n+5), .views-row:nth-child(8n+6), .views-row:nth-child(8n+7), .views-row:nth-child(8n+8) {
  background: #e9e9e9;
}

.views-row img{
  margin-bottom: 4px;
  width: 205px;
  height: 125px;
}

.views-row .episodes-img img{
  border-style: solid;
  border-width: 1px;
  border-color: grey;

}

.views-field-body{
  text-align: justify;
}

/* LiveTV Header  */
.livetv-home{
  margin-top:10px;
  margin-bottom: 5px;
  width: 99%;
  height: 84px;
  display: block;
  text-transform: uppercase;
  background-image: url("../images/homepages/livetv-home1.png") ;

}

.livetv-text{
    padding-left: 28%;
    padding-top: 28px;
    margin-top: 0px;
    position: relative;
    max-width: 940px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 18px;
}

.livetv-words{
    color: #000000;


}

/************ sign up button **************/


.signup-premium{
  /*margin-top: 0;*/
  /*margin-right: 0;*/
  margin: 0px 0 11px 0;
  text-align: center;
  font-size: 13px;
}

a.landing-btn-red {
  padding: 9px 18px;
}
a.livetv-signup{
  width: 94.1%;
  border-radius: 2px;
}

.livetv-star{
  padding: 0 4px;
  width: 22px;
  /*border-radius: 0px;*/
  /*color: #ded6d6;*/
  /*background: #eb2828;*/
  /*margin-left:-3px;
  margin-right:-2px;*/
  /*font-size:30px;*/
}

img.sizzle-img{
  width: 100%;
  height: auto;
}


h4.video-classes-title{
  padding: 1px 0;
  margin: 0;
  font-weight: normal;
}

/**************** Responsive *********************/
@media only screen and (max-width: 1000px){
  .views-row {padding: 1%;}

  #video_info_right {
    margin-left: 25%;
  }

  .livetv-text {
    padding-left: 20%;
    padding-top: 15px;
  }

  .views-row:nth-child(4n+5) {
   clear:none;
  }

  .views-row:nth-child(3n+4) {
   clear:left;
  }

  .views-row:nth-child(8n+5), .views-row:nth-child(8n+6), .views-row:nth-child(8n+7), .views-row:nth-child(8n+8) {
    background: none;
  }
  .views-row:nth-child(6n+4), .views-row:nth-child(6n+5), .views-row:nth-child(6n+6) {
      background: #e9e9e9;
  }

}
@media only screen and (max-width: 800px){
  .region-content-inner {
    margin-top: 0;
  }

  #video_info_right {
    margin-left: 17%;
  }
  .countdown {
    padding-top: 2%;
  }
  .view-live-tv-special-guest {
    /*padding-left: 9%;*/
  }
}

@media only screen and (max-width: 768px){
  .views-row{
    width: 31%;
    padding:1%;
  }
  .views-row img {
    width:99%;
    height: auto;
  }
  #livetv-content {
    width: 63%;
    height: auto;
  }
  .livetv-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .livetv-overlay {
    padding: 16px;
  }
  .countdown {
    padding-top: 0;
  }
  .view-live-tv-special-guest {
    /*padding-left: 4%;*/
  }
  .livetv-container .jw-skin-beelden {
      min-height: 245px;
  }


  .livetv-text {
    padding-left: 38%;
    padding-top: 15px;
  }




}


@media only screen and (max-width: 680px){
  .livetv-overlay .landing-btn-red {
      padding: 10px 15px;
      font-size: 1.1em;
      margin-bottom: 4%;
  }

  .view-live-tv-special-guest {
    padding-left: 0;
  }

}


@media only screen and (max-width: 600px){

    .views-row:nth-child(4n+5) {
     clear:none;
    }

    .views-row:nth-child(3n+4) {
     clear:none;
    }

    .views-row:nth-child(2n+3) {
     clear:left;
    }

    .views-row:nth-child(n){
      background: #fff;
    }

    .views-row{
      width: 40%;
      padding:1%;
    }

  .container-12 .grid-4 {
      width: 100%;
  }

  #livetv-content {
    width: 99%;
    height: auto;
  }

  .livetv-container {
      position: relative;
      width: 100%;
      height: auto;
  }

  #livetv-content {
    width: 99.5%;
  }

  .livetv-register {
    /*margin-top: 29%;*/
  }
  .livetv-overlay {
    padding: 20px;
  }
  .field-items {
    margin-top: 0px;
  }


  .views-row{
    margin: 0 3%;
  }
}

@media only screen and (max-width: 537px), only screen and (max-device-width: 537px){

  body.not-front #section-content {
    margin-top: 40px;
  }
  .livetv-home{
    background-image: url("/sites/all/themes/gung_theme/images/homepages/livetv-home2.png");
    background-size: cover;
    height: 125px;
    margin-top: -37px;
    margin-bottom: 5px;
  }

  .livetv-text {
    padding-left: 34px;
    padding-right: 39%;
    /*padding-top: 39px;*/
  }
}


@media only screen and (max-width: 500px){

  .livetv-container .jw-skin-beelden {
    min-height: 268px;
}

  .livetv-overlay-bar{
        width: 91.5%;
        font-size:1em;
  }

  #social_buttons{
    width: 148px;
  }
  .countdown-top {
      margin-top: -10px;
    }
  #zone-content {
      margin: 0 auto;
  }

  .livetv-overlay {
    padding: 17px;

  }
  .livetv-register {
    /*margin-top: 29%;*/
  }


  .container-12 .grid-8{
    width:100%;
  }

  #region-content .region-content-inner {
    margin-top: 0;
  }

  #livetv-content {
    margin-top: 0px;
    float: none;
  }

  #livetv-right {
    float: none;
    clear: both;
  }
  .container-12 .grid-4 {
      width: 100%;
  }


  .livetv-h1 {
    padding-top: 15px;
  }

  .views-row {
    /*width: 100%;*/

  }

  #video_info_right{
    display:none;
  }
  #episodes_right{
    display:none;
  }

  .article-title{
    height: 55px
  }

  h1.red-eraser-2{
    width: 57%;
    float: left;
  }

  #video_info_left{
    /*clear: left;*/
    float: right;
    display: block;
    margin-top: 13px;
    width: 140px;
  }

  #comments_episodes {
    display: block;
    width: 100%;
    height: 40px;
    margin: 19px 0 10px 0;
  }
  #episodes_left{
    float: right;
    display: block;
    width: 71%;
    z-index: 1300;
  }
  #episodes_left img{
    width: 97%;
    padding-left: 3%;
    height: 37px;
  }

  #comments_button{
    display: block;
    float: left;
    margin-top: 7px;
    z-index: 1300;
  }

  #comments_button .submit-button-gray{
    padding: 11px 15px;
  }
  #social_buttons a:nth-child(3) {
    clear: inherit;
    margin-top: 0;
  }
  #social_buttons a:nth-child(4) {
    margin-top: 0;
  }

  .livetv-h1 {
    font-size: 1.25em;
  }

  .countdown {
    padding-top: 5px;
  }
  .livetv-overlay .landing-btn-red {
      padding: 10px 10px;
      margin-bottom: 4%;
  }

  .calendar {
      width: 28%;
      margin: 0 2%;
  }

  #livetv-content h3 div {
      color: #555;
      font-weight: bold;
      font-size: 14px;
  }

  .event-date{
      float: none;
  }

  .signup-premium{
    /*margin-top: -37px;*/
    /*text-align: right;*/
    margin-right: 10px;
  }
}




@media only screen and (max-width: 414px){

  .livetv-container .jw-skin-beelden {
    min-height: 222px;
}

  #comments_button{
    /*margin-left: 20px;*/
  }


.livetv-overlay-bar {
      width: 89.5%;
}

  #livetv-content {
    width: 97%;
    font-size: 1em;
  }
  .livetv-overlay {
    padding: 14px;

  }

  #livetv-content .article-title h1 {
    font-size: 1.3em;
  }

  h1.red-eraser-2{
    width: 52%;
  }

  #episodes_left{
    width: 65%;
    z-index: 1300;
  }
  #episodes_left img{
    padding-left: 2%;
  }

}



@media only screen and (max-width: 360px){
  #livetv-guest .views-row img {
    width: 100%;
    height: auto;
  }

  .livetv-overlay {
    padding: 12px;
    font-size: 1em;
  }
  .livetv-container {
    margin-bottom: 14px;
  }
}



@media only screen and (max-width: 480px){
  .livetv-home{
    background-image: url("/sites/all/themes/gung_theme/images/homepages/livetv-home2.png");
    height: 153px;
    margin-top: -37px;
    margin-bottom: 5px;
  }

  .views-row {
    width: 45%;
    margin: 1%;
    padding: 1%;

  }

  .views-row img  {
    margin-bottom: 4px;
    width: 100%;
    height: auto;
  }

}
