@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


img.premium-icon{
	width: 50px;
	height: 50px;
}

img.premium-bottom-img {
	max-width: 370px;
	padding-left: 30px;
}

img.broadcasting-2{}


img.broadcasting {
	max-width: 1000px;
	width: 100%;
	align-selft: center;
  	margin-bottom: 15px;

}

a.red-link:hover{
    border-style: solid;
    border-width: 1px;
	border-color: #FFFFFF;
}

a.signup-red:link {
	text-decoration: none;
}

a.signup-red:hover {
    text-decoration: underline;

}
a.signup-red:visited {
    text-decoration: none;
}

/*********** premium top **************/
.premium-top {
	max-width: 1080px;
	/*background-color: #f4f4f4;*/
	border-top: #eeeeee medium solid;
	min-height: 320px;
	height: 380px;
	font-size: 16px;
	font-weight: 400;
	display:table;
	margin-bottom: 20px;
}

.premium-top p{
	font-family: Helvetica;
	color: #666666;
}


.premium-top-left{
	float: left;
	width: 40%;
	/*transform: scale(0.936,0.935);*/
	margin-right: 10px;
	padding: 0px;
	border:none;

}


.premium-top-right{
	width: 56%;
	overflow:hidden;

	/*margin: 10px;
	padding: 4px;
	*/
	min-height: 300px;
	height: 370px;
}

.premium-top-hidden{
	display:none;
	/*
	float: left;
	width: 47%;
	transform: scale(0.936,0.935);
	margin-right: 10px;
	padding: 3px;
	*/
}

.signup-premium{
	width: 100%;
	clear: both;
	text-align: center;
}
/******************/



a.landing-btn-red {
	margin-left: 15px;
	padding: 13px 25px;
}


.premium-top-left h4, .premium-top-hidden h4{
	font-family: Helvetica;
	color: #eb1d23;
	font-size: 18px;
	font-weight: 700;
	margin: 3px;
	padding:1px 0 0 0;
}

h4.first {
    margin-top:20px;
}



.premium-top-left p, .premium-top-hidden p{
	margin:0;
	padding-left:3px;

}
p.last{
    padding-bottom: 15px;
}

.premium-top-left table,
.premium-top-left table tr,
.premium-top-left table tr td
{
    border: none;
    /*background-color: #f4f4f4;*/
}

.premium-top-left table{
        border-collapse:initial;
}

.kithVideoWrapper {
	/*position: relative;*/
	margin-top: 12px;
	/*padding-bottom: 56.25%; */
	/*padding-top: 15px; */

}
.kithVideoWrapper iframe {
	width: 98.3%;
	height: 78.1%;
}




/*********** premium mid **************/

/* STRUCTURE */

.premium-mid {
	padding: 5px;
	padding-left: 15px;
	max-width: 1080px;
	font-size: 16px;
	font-weight: 400;
	display:table;

}

.premium-mid h2, .saying h2 {
	font-family: 'Eraser';
	/*color: #eb1d23;*/
	color: #333;
	font-size: 28px;
	font-weight: 400;
	line-height: 28px;

	padding: 5px;
	margin: 5px;
}

.premium-mid h2 {
	text-align:center;
	letter-spacing: 2px;
}

.premium-mid p{
	font-family: Helvetica;
	color: #666666;
	min-height: 160px;
	line-height:20px;
}

.premium-mid .sign-up{
	margin-left: auto ;
  	margin-right: auto ;

	text-align:center;
	padding:7px;
	width: 80%;
	min-height: 18px;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(90deg, #b0161b 0%, #e92329 100%);
	background-image: -moz-linear-gradient(90deg, #b0161b 0%, #e92329 100%);
	background-image: -o-linear-gradient(90deg, #b0161b 0%, #e92329 100%);
	background-image: linear-gradient(0deg, #b0161b 0%, #e92329 100%);

	font-family: HelveticaNeueLTStd;
	color: #ffffff;
	font-size: 14px;
	transform: scale(1.014,1.015);
	position:inherit;
	bottom:15px;
}
.premium-mid .sign-up {
	padding: 16px !important;
	margin-bottom: 12px !important;
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}

.premium-mid .sign-up:hover {
	background-image: linear-gradient(0deg, #ed0b12 0%, #ff0008 100%) !important;
}

.premium-mid a, .premium-mid a:hover {
	text-decoration: none !important;
}

.price-value {
	font-size: 36px !important;
}

.price {
	position:relative !important;
	top:-10px !important;
}


.premium-mid .included {
	margin-left: auto ;
  	margin-right: auto ;
	text-align:center;
	font-family: Helvetica;
	color: #666666;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	transform: scale(0.608,0.608);
}

.premium-mid .price {
	margin-left: auto ;
  	margin-right: auto ;
	text-align:center;
	font-family: Helvetica;
	color: #333333;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	transform: scale(0.608,0.608);
}
.premium-mid .price .price-value{
	color: #eb1d23;
}
.premium-mid .price .price-hide {
    color: #ffffff;
}

.premium-mid-left {
	float: left;
	margin-right: 20px;
}
.premium-mid-middle {
	float: left;
	margin-right: 10px;
}
.premium-mid-right {
	float: left;
	margin-left: 10px;
}

.premium-mid-left, .premium-mid-middle, .premium-mid-right {
	width: 28%;
	margin-bottom: 5px;
	min-height: 310px;
	padding: 5px 12px;

	border: solid 2px #eeefff;
	box-shadow: 5px 5px 7px #dddddd;
	border-radius: 4px;
  background: #f6f5fa;
}

.premium-mid .prod-img {
	width: 100%;
	height: auto;
	margin-top: 8px;
}

/**************************************/
/*******   premium bottom  ************/

.saying {
	padding-top: 20px;
	padding-bottom: 10px;
	clear: left;
	max-width: 1080px;
}

.saying h2{
	text-align:left;
}


.premium-bottom{

	;
}
.premium-bottom, .premium-bottom-2 {
	max-width: 1080px;
	min-height: 150px;
	height:auto;
	font-size: 16px;
	font-weight: 400;
	font-family: Helvetica;
	color: #222222;
	padding-left: 5px;
}

.premium-bottom-2{
	clear:both;
}


p.saying-by {
	font-family: Helvetica;
	color: #666666;
	font-size: 14px;
	font-style:italic;
	text-align:right;
	font-weight:500;


}


img.premium-pic {
	border: solid 1px #eeefff;
	box-shadow: 2px 2px 5px #aaaaaa;
	padding: 3px;

}
/*
.premium-bottom p, .premium-bottom-2 p{
	min-height: 50px;
}
*/
.premium-bottom table, .premium-bottom-2 table {
    border:none;
    border-collapse:inherit;
}
.premium-bottom table, .premium-bottom-2 table tr{
    border:none;
}
.premium-bottom table td, .premium-bottom-2 table td{
	vertical-align: top;
	padding: 10px;
	border:none;

}

.premium-bottom table, .premium-bottom-2 table {
	margin-bottom: 0px;
}

.premium-bottom-left, .premium-bottom-right{
	background-color: #ffffff;
	/*border-top: #eeeeee medium solid;*/
	/*transform: scale(0.936,0.935);*/
	padding: 3px;
	width: 49%;
}
.premium-bottom-left{
	float: left;
}


.premium-bottom-right{
	overflow:hidden;
}





/*  merge file libraries/brightcove-js/premium.css */
#premium-header {
  max-width:1020px;
  margin-left: -40px;
  width:calc(100% + 80px);
  height: auto;
}
.premium-tv-header {
  width: 100%;
  padding-bottom:30px;
}

#premium-responsive-img {
  width:100%;
  height: auto;
  max-width:300px;
  float:left;
  margin-bottom:20px;
}

.premium-divider {
  font-family: 'Eraser';
  color:#fff;
  height: 120px;
  width: calc(100% + 80px);
  left: -40px;
  position: relative;
  background: url('/sites/default/files/graybg_1.jpg') no-repeat;
  text-align:center;
}

.premium-divider-slim {
    height: 70px;
    width: calc(100% + 80px);
    left: -40px;
    position: relative;
    background: url('/sites/default/files/graybg-slim-3b.jpg') no-repeat;
}
.premium-divider span {
    font-size: 28px !important;
    margin: 0 auto;
    margin-top: 48px;
    text-transform: uppercase;
    display: inline-block;
}


.premium-livetv-episodes {
  margin: 0;
  padding: 0;
  min-height: 816px;
  height: auto;
}
.premium-livetv-episodes .signup-premium{
  display: none;
}

.premium-livetv-episodes .livetv-text{
  padding-top: 31px;
}


.tv-ep {
  margin-bottom:50px;
}

.tv-ep-left {
  max-width:200px;
  width:100%;
  float:left;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}
.tv-ep-right {
  max-width:700px;
  width:calc(100% - 240px);
  float:right;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

#episode1 {
  max-width:200px;
  margin-right:30px;
}

#baby-care-101-img {
  max-width:200px;
  margin-right:30px;
}

ul.checkmark {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
ul.checkmark li {
    background:url('/sites/default/files/checkmark.png') no-repeat 0 50%;
    padding-left: 20px;
}

ul.checkmark {
    list-style-type: none;
}

.premium-animate {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}


.premium-top-tips-container {
  width:100%;
  margin-top:60px;
}
.premium-top-tips-item {
  max-width:445px;
  width:100%;
  min-height:215px;
  float:left;
  margin-right:40px;
  margin-bottom:40px;
}

.premium-top-tips-item:nth-child(odd) {
  margin-right:0 !important;
/*  float:right;*/
}

.premium-top-tips-img {
  float:left;
  max-width: 175px;
  margin-bottom:30px;
}
.premium-top-tips-title {
  font-family: "Eraser";
  text-transform:uppercase;
  color: #666;
  font-size:22px;
}
.premium-top-tips-desc {
  color:#888;
  margin-top:10px;
  margin-bottom:20px;
}

.premium-download-btn {
  width:230px; height:43px;
  border:1px solid #ec3035;
  border-radius:8px;
  display:inline-block;
  text-align:center;
  font-size: 15px;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background: url('/sites/default/files/btn-download-sprite-bg.png') no-repeat top left;
}

.premium-download-btn span {
  position:relative;
  top:10px;
  left:10px;
  font-weight: bold;
  text-transform:uppercase;
}

.premium-download-btn:hover {
  background: url('/sites/default/files/btn-download-sprite-bg.png') no-repeat bottom left #ec3035;
  color:#fff;
}

.premium-animate {
  -moz-transition: all .8s linear;
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
}

.red-eraser {
  font-family:'Eraser';
  font-size:28px;
  text-transform:uppercase;
  color:#fa2129;padding-top:10px;
}

.clear {
  clear:both;
}

/* Brightcove code overwrites */

.premium-video-container {
  text-align:center;
  position: relative;
  top: -20px;
  margin: 20px auto;
	max-width: 600px;
}

.video-outer-wrapper {
  max-width:600px !important;
  margin:0 auto !important;
  border:1px solid #000 !important;
}
.video-js .vjs-big-play-button, .video-js .vjs-play-progress, .video-js .vjs-volume-level {
  background-color: #eb1d23;
}

.video-js .vjs-big-play-button {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 10px;
  background: none repeat scroll 0 0 #eb1d23;
  width: 85px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
}

.video-js .vjs-big-play-button {
  opacity: .9;
}
.bc-player-ceded457-c411-4c71-9ffe-58f496e7eb74_default.vjs-mouse .vjs-big-play-button {
  width:80px !important;
  height: 60px !important;
}
.bc-player-ceded457-c411-4c71-9ffe-58f496e7eb74_default .vjs-big-play-button:before {
  margin: 15px auto !important;
}

/********************/

.tv-ep-left-cut {
  max-width:249px;
  width:100%;
  float:left;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}
.tv-ep-right-cut {
  margin: 10px;
  max-width:647px;
  width:calc(100% - 240px);
  float:right;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
  font-size: 1.07em;
}


img.cut-video-thumb{
   margin:10px 0;
   padding: 3px;
   border:1px solid #FED3CE;
}

.cut-video-samll{
  display:none;
}

button{
  min-width: 220px;
  color: #FA2129;
  padding: 5px;

}

h1.index-title {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.65);
}


/*********************************************************************

			Responsvie Design: bread point

**********************************************************************/

/****************  MEDIA QUERIES  ***********/
/* for 820px or less */
@media screen and (max-width: 820px) {

	.saying {
		width: 100%;
	}

	.premium-mid{
	    width: 95%;
	}
	.premium-mid p{
	min-height: 100px;
	}

	/*.premium-mid-left {
		width: 40%;
		padding: 1% 3%;
	}*/
	.premium-mid-left ,	.premium-mid-middle , 	.premium-mid-right {
		width: auto;
		padding: 1% 3%;
		clear: both;
		margin-right: 18px;
		margin-left: 10px;
		/*margin: 0px 0px 5px 5px;*/
		/*float: right;*/
	}

	/*.premium-mid-right {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}*/

}

@media screen and (max-width: 800px) {
  .iframe-youtube {
    margin-left:10px ;
  }
  .kithVideoWrapper iframe{

  }

	.kithVideoWrapper iframe {
	    width: 98.3%;
	    height: 71.1%;
	}

	a.landing-btn-red {
		margin-left: 0;
		margin-bottom: 1px;
		padding: 7px 15px;
	}

}

/* for 720px or less */
@media screen and (max-width: 720px) {

  .premium-top, .premium-bottom, .premium-bottom-2, .premium-bottom-img{
      width: 97%;
  }

  .premium-top-left {
	display:none;
  }
   .premium-top-right {
    float: none;
    margin-right:0;
    width:auto;
	/*width:95%;*/
  }

  .premium-top-hidden{
	  display:block;

	padding:10px;
	margin-bottom: 25px;
  }



   .premium-bottom-left {
    float: none;
    margin-right:0;
    width:auto;
  }
   .premium-bottom-right {
	display:block;
    width:93%;
	padding:10px;
  }

  img.premium-pic{
	 width:90px;
  }

  img.premium-bottom-img {
	 width: 75% ;
  }


}


@media screen and (max-width: 600px) {

	.premium-mid p{
		min-height: 100px;
	}

	.premium-mid-left, .premium-mid-mid, .premium-mid-bottom{
		min-height: 250px;
	}

	.premium-mid-left {
		width: auto;
		float: none;
		margin-right: 0px;

	}

	.premium-mid-middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	.premium-mid-right {

		width: auto;
		float: none;
	}

	img.premium-bottom-img {
	 width: 85% ;
  }
	img.super-parent {
		display: none;
	}

}


@media screen and (max-width: 480px) {
	img.premium-pic {
		padding:0;
		margin: 0;
		width: 80px;
	}
	.premium-bottom table td, .premium-bottom-2 table td{
		padding: 5px;
	}

	.premium-mid p{
		min-height: 80px;
	}


	.premium-mid-right {
		display:inherit;
	}
	.premium-mid-left {
		margin-right: 0px;
	}
	.premium-mid-left, .premium-mid-middle, .premium-mid-right {
		min-height: 100px;
		margin: 0;
	}

	img.premium-bottom-img {
	 width: 95% ;
	 padding: 0;
  }

  img.broadcasting {
 	 display:none;
  }
	.kithVideoWrapper iframe{
		width: 92%;
		height: 242px;
		margin-left: 15px;
  }
  .premium-top, .premium-bottom, .premium-bottom-2, .premium-bottom-img {
    width: 95%;
    margin: 5px;
  }

	.premium-top{
		margin-top: -35px;
	}

}


.premium-mid .price .price-hide {
   color: #ffffff;
}
.product-desc {
   height: 240px;
}

.signup-premium-year{
  padding-top: 1px;
  text-align: center;
}




@media screen and (max-width: 890px){
  .product-desc {
    height: 290px;
  }
}
@media screen and (max-width: 820px){
  .product-desc {
    height: auto;
  }
}

@media only screen and (max-width: 420px) {
	.kithVideoWrapper iframe{
		width: 92%;
		height: 242px;
		margin-left: 15px;
  }

}

@media only screen and (max-width: 375px) {
	.kithVideoWrapper iframe{
		width: 92%;
		height: 212px;
		margin-left: 15px;
  }
	a.landing-btn-red {
	    margin-left: 0;
	    padding: 8px 15px;
	    margin-bottom: 5px;
	}

	.premium-top-right {
    height: 333px;
	}

}



@media (max-width: 1100px) {
  .premium-top-tips-item {
    max-width: 1100px !important;
    float:none;
  }
  .premium-top-tips-item:nth-child(odd) {
    margin-right:0 !important;
    float:none !important;
  }
}

@media (max-width: 800px) {

  .tv-ep-right, .tv-ep-left {
    max-width: none !important;
    width:100% !important;
    float:none !important;
  }

  .tv-ep-left {
    text-align:center;
  }

  .tv-ep-left img {
    max-width: 500px !important;
    width: 90%;
  }

  .premium-top-tips-img {
    float:none! important;
    max-width: 250px;
    margin:0 auto;
    margin-bottom:30px;
    display:inline-block;
  }

  .premium-top-tips-item {
    text-align:center !important;
  }

   .tv-ep-right-cut, .tv-ep-left-cut {
    max-width: none !important;
    width:100% !important;
    float:none !important;
  }

  .tv-ep-left-cut {
    text-align:center;
  }

  .tv-ep-left-cut img {
    max-width: 500px !important;
    width: 90%;
  }


}

@media (max-width: 480px) {
  td.index-img {
    min-width: 120px;
  }
  td.views-field-field-premium-summary{
    display: none;
  }
  .index-img img{
    width: 100%;
    height:auto;
  }

  #region-content .region-content-inner {
    margin-top: -20px;
  }

}
