.products-bar{
  margin-top: -15px;
  margin-left: -41px;
  width: 108.6%;
  height:250px;
  background: url(../images/top_products/top-bar.png) 0px -26px no-repeat;
}

.products-bar .title{
  margin-left: 45px;
}
.products-text{
  width: 70%;
  float: left;
  padding-top: 8%;
}

.top-products-text {
    width: 70%;
    float: left;
    padding-top: 5%;
}

h1.red-eraser{
  text-align: right;
  color: #ffffff;
  font-weight: normal;
}

h1.title{
  text-transform: uppercase;
}

h2.views-title{
  clear: both;
  padding-left: 1%;
  font-size: 1.4em;
  letter-spacing: -1px;
  /*margin-top: -28px;*/
}

.leana-photo{
  float: right;
  width: 30%;
  margin-top: -10px;
}

.leana-photo img{
  width: 80%;
}

#videos-livetv-episodes{
  margin-top: -58px;
}

.view-id-top_products .view-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.view-id-top_products .clear{
  height: 30px;
}
/*
.clear-0, .clear-4{
      border-bottom: solid 1px #aaa;
}
*/


.view-id-top_products .views-row{
  /*margin: 16px 8px;*/
  padding: 20px 10px;
  border-bottom: solid 1px #bbb;
}

.product-layout-0{
  width:99%;
}

.product-layout-3{
  width:46%;
  /*float:left;*/
}

.product-layout-2{
  width:46%;
  /*float:left;*/
  /*margin-left: 2%;*/
}
.layout-inner-2{
  display: flex;
  flex-flow: column;

}


.product-layout-1{
  width:46%;
  /*float: left;*/
}

/*.views-row-5{
  width:48%;
  float: right;
}*/

.product-layout-4{
  /*clear:both;*/
  width:99%;

}

/*.views-row-7{
  width:48%;
  float:left;
  display: flex;
  flex-flow: column;
}*/

.product-layout-5{
  width:46%;
  /*float:left;*/
}


.product-layout-6{
  width:46%;
}
/*.views-row-9{
  width:100%;
}*/

.product-cat{
  font-size: 1.2em;
  font-weight: bold;
  /* font-variant: petite-caps; */
  color: #eb1d23;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.product-url{
  padding-top: 16px;
}

.product-price{
  font-weight: bold;
  padding-top:8px;
}

.product-title{
  font-weight: bold;
  padding: 3px 0;
}

/******* row-1 ******/

.product-layout-0 .product-desc{
  float:left;
  width: 19%;
  text-align: right;
  margin-top: 3%;
  padding-right: 44px;
  background: url(../images/top_products/arrow-right.png) 186px 5px no-repeat;
}
.product-layout-0 .product-img{
  float:left;
  width: 280px;
  height: 232px;
}

.product-layout-0 .product-img img{
    width: 100%;
  height: 232px;
}

.product-layout-0 .product-video{
  float:left;
  width:44%;
}


/*.clear-0{
  clear: both;
  height:17px;
}*/

/******* row-2 ******/

.product-layout-3 .product-desc{
  float: right;
  width: 47%;
  padding-left: 5%;
  background: url(../images/top_products/arrow-left.png) 0px 5px no-repeat;
}
.product-layout-3 .product-img{
  float:left;
  width: 47%;
}

.product-layout-3 .product-img img{
  width: 98%;
  height: auto;
}


/******* row-3 ******/

.product-layout-2 .product-desc{
  order: 2;
  /*padding-top: 24px;
  background: url(../images/top_products/arrow-top.png) 65px 11px no-repeat;
  order: 2;*/
  padding-top: 5%;
  padding-right: 20px;
  background: url(../images/top_products/arrow-top.png) 47% 8px no-repeat;
  text-align: center;
}
.product-layout-2 .product-img{
  order: 1;
}

.product-layout-2 .product-img img {
    width: 99%;
    height: auto;
}

.views-row-3 .layout-inner-2{
  border-left: solid 1px #bbb;
  width: 100%;
  min-height: 217px;
  padding-left: 12px;
}
/*.clear-3{
  clear: both;
  height: 17px;
}*/



/******* row-4 ******/

.product-layout-1 .product-desc{
  text-align: right;
  float: left;
  width: 46%;
  padding-right: 5%;
  background: url(../images/top_products/arrow-right.png) 208px 5px no-repeat;
}
.product-layout-1 .product-img{
  float:right;
  width: 44%;
}

.product-layout-1 .product-img img{
  width: 100%;
  height: auto;
}



/******* row-5 ******/

.product-layout-6 .product-desc{
  float: right;
  width: 74%;
  padding-left: 5%;
  margin-top: 30px;
  background: url(../images/top_products/arrow-left.png) 0px 5px no-repeat;
}
.product-layout-6 .product-img{
  float:left;
  width: 16%;
}

.product-layout-6.product-img img{
  width: 100%;
  height: auto;
}

.layout-inner-6{
  border-left: solid 1px #bbb;
  width: 100%;
  min-height: 217px;
  padding-left: 12px;
}
/*.clear-5{
  clear: both;
  height: 17px;
}




/******* row-6 ******/

.product-layout-4 .product-desc{
  text-align: right;
  margin-top: 30px;
  float: left;
  width: 26%;
  padding-right: 5%;
  background: url(../images/top_products/arrow-right.png) 249px 5px no-repeat;
}
.product-layout-4 .product-img{
  float:left;
  width: 65%;
}

.product-layout-4 .product-img img{
  width: 100%;
  height: auto;
}
/*
.clear-6{
  clear: both;
  height:17px;
}*/



/******* row-7 ******/
/*
.views-row-7 .product-desc{
  order: 2;
  padding-top: 5%;
  padding-right: 20px;
  background: url(../images/top_products/arrow-top.png) 47% 8px no-repeat;
  text-align: center;
}
.views-row-7 .product-img{
  order: 1;
}

.views-row-7 .product-img img{
    width: 95%;
  height: auto;
}*/



/******* row-8 ******/

.product-layout-5 .product-desc{
  text-align: right;
  float: left;
  width: 53%;
  padding-right: 5%;
  background: url(../images/top_products/arrow-right.png) 237px 5px no-repeat;
}
.product-layout-5 .product-img{
  float:left;
  width: 41.5%;
}

.product-layout-5 .product-img img{
    width: 100%;
  height: auto;
}

.views-row-8 .layout-inner-5 {
  border-left: solid 1px #bbb;
  width: 100%;
  min-height: 217px;
  padding-left: 12px;
}


.views-row-10 .layout-inner-3{
  border-left: solid 1px #bbb;
  width: 100%;
  min-height: 217px;
  padding-left: 12px;
}

/*.clear-8{
  clear: both;
  height:10px;
}*/


/******* row-9 ******/

/*.views-row-9 .product-desc{
  text-align: right;
  float: left;
  width: 53%;
  padding-right: 5%;
  background: url(../images/top_products/arrow-right.png) 245px 5px no-repeat;
}
.views-row-9 .product-img{
  float:left;
  width: 41.5%;
}

.views-row-9 .product-img img{
    width: 100%;
  height: auto
}

.clear-9{
  clear: both;
}*/



/******* View top_product_taxonomy  ******/


.view-top-product-taxonomy .views-row {
  position: relative;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, .5);
  padding: 1px;
  background: white;
}

.view-top-product-taxonomy .views-row img{
  width: 100%;
  max-height: 258px;
}

.view-top-product-taxonomy .views-row-odd{
  float: left;
  width:46%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.view-top-product-taxonomy .views-row-even{
  float: left;
  width:46%;
  /*clear:both;*/
}

#videos-livetv-episodes-next{
      margin-top: 20px;
}




/******** Mobile Style *******/

@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  .container-12 {
      width: 100%;
  }

  body.not-front #section-content {
    margin-top: 0px;
  }

  /* body.page-top-products  #section-content {
  margin-top: 10px;
  } */

  body.page-top-products #block-search-form{
    display:none;

  }

  .easy-breadcrumb{
    display:none;
  }
  .products-bar {
    margin-top: -15px;
    margin-left: 0;
    width: 100%;
    height: 75px;
    background: url(../images/top_products/top-bar-mobile.png) 0px -8px no-repeat;
  }
  .products-bar .title {
    display: none;
  }

  .leana-photo {
    display: none;
  }

  body.page-top-products #region-content .region-content-inner {
    margin-top: 0;
  }

  .view-top-product-taxonomy .views-row-odd {
    width: 99%;
  }
  .view-top-product-taxonomy .views-row-even {
    width: 99%;
  }

  .top-products-text {
    clear: both;
    width: 100%;
    padding-top: 6.6%;
  }

  .products-text {
    width: 100%;
    clear: both;
    padding-top: 7%;
  }

  h1.red-eraser {
    font-size: 19px;
    margin: 0;
    text-align: center;
    max-width: none;
    padding:0;
  }



  /*** View ***/

  .view-id-top_products .views-row {
    padding: 17px 5px;
  }

  .view-id-top_products{
    font-size: 0.9em;
  }


  #videos-livetv-episodes {
      margin-top: 5px;
  }



  .product-layout-1,
  .product-layout-2,
  .product-layout-3,
  .product-layout-4,
  .product-layout-5,
  .product-layout-6{
    width: 100%;
    float: none;
  }

  .views-row-3 .layout-inner-2,
  .views-row-10 .layout-inner-3,
  .views-row-8 .layout-inner-5,
  .layout-inner-6    {
    border-left: none;
    padding-left: 0;
  }


  .product-layout-0 .product-desc {
        width: 34%;
      padding-right: 26px;
      /* background: url(../images/top_products/arrow-right.png) 137px 5px no-repeat; */
      background: url(../images/top_products/arrow-right.png) 95% 5px no-repeat;
  }

  .product-layout-0 .product-img {
      width: 58%;
      height: 200px;
  }
  .product-layout-0 .product-img img {
    width: 100%;
    height: 185px;
  }


  .product-layout-0 .product-video {
      float: none;
      width: 100%;
  }

  .product-layout-2 .product-img img {
    width: 99%;
  }

  .product-video iframe{

    width: 100%;
  }

  .product-layout-4 .product-desc{
    margin:0;
  }

  .product-layout-1 .product-desc {
    width: 53%;
    /* background: url(../images/top_products/arrow-right.png) 208px 5px no-repeat; */
    background: url(../images/top_products/arrow-right.png) 99% 5px no-repeat;
  }
  .product-layout-4 .product-desc {
    margin-top: 0;
    background: url(../images/top_products/arrow-right.png) 97% 5px no-repeat;
  }

  .product-layout-5 .product-desc {
    background: url(../images/top_products/arrow-right.png) 99% 5px no-repeat;
  }


  .product-layout-1 .product-img {
      width: 41%;
  }

  .product-video{
  	position:relative;
  	padding-bottom:50.25%;
  	padding-top:30px;
  	height:0;
  	overflow:hidden;
  }

  .product-video iframe, .product-video object, .product-video embed {
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  }

}


@media only screen and (max-width: 414px), only screen and (max-device-width: 414px){

}
