.article-title h1, .article-title h2 {
  float:left;
  width: 74%;
}
.article-title h1 {
      margin-top: 3px;
}

body.node-type-blog .article-title  #video_info {
  float:right;
  padding: 6px 0;
}

.article-title #video_info #social_buttons {
  float:right;
  width: auto;
  margin-top: auto;
  height: 22px;
}

body.node-type-blog article footer.submitted{
    clear: both;
}
