/* Top Bloggers page */
#top-bloggers{
  margin-top: 0;
}
#top-bloggers h2 { font-family: Eraser; font-size: 30px; color: #565656; font-weight: normal; text-align: center;   text-transform: uppercase;}
#top-bloggers p { text-align: justify; }

#top-blogger-text {
  background: url('../images/top_blogger_text_bg.png') repeat;
  width: 782px;
  margin-left: -40px; padding: 50px 118px; }
#top-blogger-board-top {
  background: url('../images/top_blogger_board_bg_top.jpg') no-repeat;
  width: 782px;
  height: 30px;

}
#top-blogger-board {
  overflow: hidden;
  background: url('../images/top_blogger_board_bg.jpg') repeat-y;
  width: 682px;
  padding: 55px 50px;

}
#top-blogger-board-bottom {
  background: url('../images/top_blogger_board_bg_bottom.jpg') no-repeat;
  width: 782px;
  height: 30px; }

#top-blogger-board .views-row {
  float: left;
  position: relative;
  background: url('../images/top_blogger_row_bg.png') no-repeat top left;
  width: 265px;
  height: 221px;
  padding: 45px 15px 10px;
  margin: 0px 16px 40px 30px;

}

#top-blogger-board .views-row-odd .tape { position: absolute; top: 25px; left: 160px; width: 110px; height: 32px; background: url('../images/top_blogger_tape1.png') no-repeat; z-index: 10; }
#top-blogger-board .views-row-even .tape { position: absolute; top: 25px; left: 165px; width: 98px; height: 31px; background: url('../images/top_blogger_tape2.png') no-repeat; z-index: 10; }
#top-blogger-board .play-btn { position: absolute; margin-left: 132px; margin-top: 8px; z-index: 10; }
#top-blogger-board .views-row { color: #fff;  font-size: 12px;}
#top-blogger-board .views-row a { color: #fff; }
#top-blogger-board .views-row img { float: right; position: relative; left: 5px; margin-bottom: 3px; }
#top-blogger-board .views-row .field-content div { padding-right: 20px; margin-top: 17px; font-size: 13px; }


#top-bloggers .left{
  width: 49%;
}
#top-bloggers .right{
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
}

.left-h2{
  margin: 25px 0px
}

img.img1{
  min-width:280px;
  width: 93%;
  padding: 15px;
}
img.img2{
  margin-left: -27px;
}


@media only screen and (max-width: 768px){
  #top-bloggers{
        margin-left: -14px;
  }
  #top-blogger-text {
    width: 99%;
    margin-left: -40px;
    padding: 0px;
  }
}

/***** top-bloggers page  **/
@media only screen and (max-width: 599px){

  #top-bloggers{
    margin-top: -50px;
    margin-left: 0px;
  }

  #top-bloggers .left {
    width: 100%;
  }
  #top-bloggers .right {
      width: 98%;
    /*display: none;*/
  }
  #top-blogger-text {
    width: 90%;
    margin-left: -20px;
  }

  #top-blogger-text {
    background: #fff;
    /*width: 420px;*/
    width: 100%;
    margin-left: 0px;
    padding: 0px;
  }
  #top-blogger-board-top {
    background: #fff;
    width: 100%;
    height: 15px;
  }
  #top-blogger-board {
    overflow: hidden;
    /*background: #fff;*/
    background: url('../images/top-bloggers/smarll-bg.jpg') repeat;
    /*width: 400px;*/
    padding: 0;

    width: 100%;
    padding: 35px 0px;
  }
  #top-blogger-board-bottom {
    background: #fff;
    width: 100%;
    height: 30px;
  }
  #top-blogger-board .views-row {
    float: left;
    position: relative;
    background: url('../images/top_blogger_row_bg.png') no-repeat top left;
    width: 265px;
    height: 221px;
    padding: 45px 15px 10px;
    margin: 0px 16px 40px 30px;
  }

}
