#section-content {
    margin-top: 0px;
}

#social_buttons,
#playlist_form,
#discuss_button,
#embed_button
{
  display:none;
}
#transcript_button{
      width: 100px;
}

#video_info #transcription_text {
    border: 2px solid #FFF;
}

#block-kih-experts-kih-experts-more-from #list a {
  color: #eeeeee;
}

#block-kih-experts-kih-experts-more-from .block-inner{
  display:none !important;
}

#list .active{
  border: 2px solid #e20505 !important;
  box-shadow: 0px 0px 25px #f7f0f0;
}

#container_jwplayer{
  height: 360px;
  /*width: 70%;*/
}


#fullPlaylist .LeftPlayer{
  float:left;
  width: 100%;
}

#fullPlaylist .RightPlayList{
  position: inherit;
  width: 100%;
}


#block-kih-experts-kih-experts-more-from.block-kih-experts {
  max-height: 749px;
}

#block-kih-experts-kih-experts-more-from {
  float:left;
  margin: 2px;
  align-content: left;
  width: 100%;
  height: auto;
  overflow-y: auto;
  color: #eeeeee;
  text-indent: 0px;
  background: #000000;
  box-shadow: inset 0 3px 10px rgba(0,0,0,.85);
  -webkit-box-shadow: inset 0 3px 10px rgba(0,0,0,.85);
  -moz-box-shadow: inset 0 3px 10px rgba(0,0,0,.85);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;

  color: #000000;
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside;
  padding: 0 0 0 0px;
}

#block-kih-experts-kih-experts-more-from div li {
  display: block;
  /*height: 130px;*/
  min-heigth: 87px;
  list-style-type: none;
  list-style: none;
  padding: 3px;
  line-height: 117%;
  border: 1px solid #444;
  color: #eeeeee;
  font-size:12px;
  padding-top: 10px;
}
#block-kih-experts-kih-experts-more-from .playlist-sidebar{
  padding:0;
  margin:0;
  background: black;
}


#list a {

  text-indent: 0px;
  display: block;
  background: #000;
  margin: 0;
  color: #dddddd;
  text-decoration: none;
  /*text-align: center;*/
  list-style-type: none;
  list-style-position: inside;
  line-height: 120%;

}


#list  a:not(.btn) img {
  border: none;
}

#list img {
  display: inline-block;
  vertical-align: middle;
  float: left;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

#list img.thumbnail{
  width: 40%;
  max-width: 140px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 8px;
}

img[Attributes Style] {
  height: 98px;
  width: 180px;
}

#list a:hover {
  list-style-type: none;
  cursor: pointer;
  /*border: 1px solid #ff0046;*/
}

#list a:not(.btn):hover,
#list a:not(.btn):focus {
  color: #ff0046;
}

#list a:not(.btn) {
  /*color: #0b7ef4;*/
  line-height: inherit;
  text-decoration: none;
}

#list a:-webkit-any-link:active {
  color: -webkit-activelink;
}

#list a:-webkit-any-link {
  /*color: -webkit-link;*/
  cursor: auto;
  /*text-decoration: underline;*/
}


#list .title{
  font-size: 1em;
  font-weight: bold;
}
#list .desc{
  font-size: 1em;
}


#jwplayer-expert-box{
  margin-top: 8px;
  padding:10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 12px #666;
  height: 280px;
  /*min-height: 180px;*/
  overflow: auto;
}

#jwplayer-expert-box .playall-video-bio{
  float:left;
}

#jwplayer-expert-box .playall-video-bio a {
  color: #eb1d23;
}

#jwplayer-expert-box .playall-video-bio img {
    width: 240px;
    height: auto;
    border: 2px solid #efefef;
    margin: 5px 15px 15px 0;
}

#jwplayer-video-title {
  clear: both;
  padding: 10px 10px 0 10px;
}
#jwplayer-video-title h1{
  font-size: 18px;
}


/************** Responsive  ****************/
@media screen and (max-width: 800px) {

.container-12 .grid-8 {
    width: 95%;
}

.container-12 .grid-4 {
  margin-top: 10px;
    width: 95%;
}

#fullPlaylist   .LeftPlayer{
    clear: both;
    margin: 2px;
    width: 99%;
  }

#block-kih-experts-kih-experts-more-from .ListItems {
    clear:both;
    width: 99%;
  }

}
