/* Control Holder */

.booking-form {
  position: relative;
  width: 94%;
  font: 17px/23px "PT Sans", sans-serif; }

  .booking-form *::-webkit-input-placeholder {
    color: #3B3B3B;
    opacity: 1 !important; }

  .booking-form *:-moz-placeholder {
    color: #3B3B3B;
    opacity: 1 !important; }

  .booking-form *::-moz-placeholder {
    color: #3B3B3B;
    opacity: 1 !important; }

  .booking-form *:-ms-input-placeholder {
    color: #3B3B3B;
    opacity: 1 !important; }

  .booking-form input {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    outline: none;
    font: 17px/23px "PT Sans", sans-serif;
    color: #3B3B3B;
    background: #ffffff;
    border: 1px solid #3B3B3B;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  * + .booking-form {
    margin-top: 18px; 
	margin-left: 5px;
	}

  .booking-form + * {
    margin-top: 13px !important; }

  .booking-form .btn {
    display: block;
    width: 100%;
    padding: 0px 20px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    background: #ED0003;
    border-bottom: 1px solid #C10003;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
	
	color: white;
    height: 55px;
}
	}

    .booking-form .btn:hover {
      color: #191919;
      background: #ffffff;
      border-color: #ffffff; }

    * + .booking-form .btn {
      margin-top: 20px; }


* + .tmInput {
  margin-top: 10px; }


.controlHolder {
  position: relative; }

  * + .controlHolder {
    margin-top: 10px; }


.tmSelect:before {
  content: '\f107';
  font-family: "FontAwesome";
  position: absolute;
  top: 13px;
  right: 17px;
  z-index: 99; }

/* Messages */

.error-message {
  position: absolute;
  top: 9px;
  right: 4px;
  font-weight: normal;
  text-align: right;
  width: 100%;
  font-size: 10px;
  line-height: 1em;
  z-index: 4;
  color: #FE5353; }


.success-message {
  position: absolute;
  margin-top: 0 !important;
  padding: 60px 10px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #191919;
  font-size: 14px;
  line-height: 20px;
  background: #fff; }

/* transformSelect CSS */

.tmSelect {
  clear: both;
  width: 100%;
  margin: 0px; }

  .tmSelect li {
    position: relative;
    list-style: none; }

  .tmSelect span, .tmSelect input[type=text] {
    position: relative;
    cursor: pointer;
    display: block;
    left: 0;
    top: 0;
    margin: 0; }

  .tmSelect.auto {
    cursor: pointer;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

    .tmSelect.auto span {
      background: transparent; }

    .tmSelect.auto ul {
      margin: 1px 0 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      background: #F9F9F9; }

    .tmSelect.auto > li:first-child > span {
      padding: 7px 12px;
      width: 35px;
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

  .tmSelect ul, .tmSelect .transformSelectDropdown {
    position: absolute;
    width: 100%;
    max-height: 210px;
    padding: 7px 0px;
    margin: 0px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
    background: #F9F9F9;
    z-index: 10; }

    .tmSelect ul span, .tmSelect .transformSelectDropdown span {
      border: 0;
      padding: 5px 13px; }

      .tmSelect ul span:hover, .tmSelect .transformSelectDropdown span:hover {
        background: #CCC; }

  .tmSelect ul li input[type=checkbox] {
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
    cursor: pointer; }


button.ui-state-default {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 4px 6px;
  background: none;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

  button.ui-state-default::-moz-focus-inner {
    border: none;
    padding: 0; }


.ui-datepicker-close {
  float: right; }
