@media (max-width: 1199px) {
  iframe.vip-iframe-youtube {
      height: 242px;
      margin-top: 90px;
  }
}

@media (max-width: 980px) {
  .container .grid_6 {
    width: 450px;
  }
  iframe.vip-iframe-youtube {
    width: 430px;
    height: 244px;
  }
  #zone-preface-wrapper {
    padding: 0;
    margin: 0;
  }
  .booking {
    height: 460px;
  }
  .container-12 #messages.grid-12 {
  }
}
@media only screen and (max-width: 800px) {

  .container .grid_6 {
    float:left;
    width: 400px;
    text-align: center;
    padding: 0px;
    margin: 5px;
  }

  .container .grid_5{
      width: 350px;
      margin-left: 5px;
      float:right;
      margin-top: 6px;
  }

  .booking {
    width: 328px;
    height: 440px;
    margin-left: 0;
   }

  .h1-black-eraser {
    font-size: 32px;
}

h6.pc-display {
  line-height: 27px;
  font-size: 20px;
}

  .container {
    width: 800px;
  }
  iframe.vip-iframe-youtube {
    /*display: none;*/
  }
  .grid_6 {
    text-align: center;
  }
  #zone-preface-wrapper {
    margin-top: 0;
  }
  iframe.vip-iframe-youtube {
    margin-top: 101px;
    width: 400px;
    height: 225px;
  }


  .grid_6 .promo-img {
    /*display: none;*/
    float: left;
    width: 400px;
    padding: 0;
    margin:0;
  }



}
@media only screen and (max-width: 768px) {

.testimonials blockquote {
  min-height: 226px;
}

  .container .row {
      display: block;
  }

  .container {
    width: 768px;
  }

  .parallax  .container .grid_3 {
    float: left;
    width: 39%;
    margin: 0;
    margin-left: 7%;
  }

  .region-content-inner {
      margin-top: 7px;
  }

  /*.booking {
    width: 60%;
    margin-left: 19%;
    height: auto;
  }
  .booking {
    width: 86%;
    margin-left: 5%;
  }*/
  #edit-submit {
    margin-left: 0;
  }
  .container-12 #messages.grid-12 {
    max-width: 470px;
    width: 470px;
  }



  .booking h2 {
    padding-bottom: 1px;
  }
  #section-content {
    padding-top: 12px;
    padding-bottom: 10px;
  }

  #block-menu-menu-site-menu ul li a {
    width: 111px;
  }
  .marked-list li {
    font-size: 21px;
    line-height: 30px;
  }


}


@media only screen and (max-width: 700px) {

  .container {
    width: 700px;
  }
  .container .grid_6 {
    float:left;
    width: 340px;
    text-align: center;
    padding: 0px;
    margin: 5px;
  }
  iframe.vip-iframe-youtube {

    width: 340px;
    height: 214px;
  }

  .container .grid_5{
    width: 335px;
    float:right;
    margin-top: 6px;
  }
  .booking {
    width: 300px;
  }
  .grid_6 .promo-img {
    width: 335px;
  }
}

@media only screen and (max-width: 667px){
  #block-menu-menu-site-menu .menu {
      display: none;
  }
  h6.pc-display {
      line-height: 24px;
      font-size: 18px;
  }
}

@media only screen and (max-width: 640px) {

  .parallax  .container .grid_3 {
    float: left;
    width: 48%;
    margin: 0;
    margin-left: 2%;
  }



  .container {
    width: 640px;
    margin-left: 0;
    padding-left: 0;
  }

  .container .row {
    width: 98%;
}

  .container .grid_6 {
    float:left;
    width: 310px;
    text-align: center;
    padding: 0px;
    margin: 5px;
  }

  .container .grid_5{
    width: 300px;
    float:right;
    margin-top: 6px;
  }
  iframe.vip-iframe-youtube {

    width: 300px;
    height: 214px;
  }
  .booking {
    width: 300px;
    margin-left: 0;
  }
  .grid_6 .promo-img {
    width: 300px;
  }
  #block-menu-menu-site-menu .menu{
    display:none;
  }

}

 
@media only screen and (max-width: 537px) {
  .container, .container-fluid{
    width: 99%;
    margin-top: 0;

  }
  body.not-front #section-content {
    margin-top: -10px;
    padding-top: 7px;
  }
  .vip-clear-bg {
    display: none;
  }

  .vip-red-bar-bg {
    background-color: #fff;
    padding: 10px 0 0 0;
    margin-top: 35px;
  }

  .h1-black-eraser {
    font-family: 'Eraser';
    text-transform: uppercase;
    font-size: 26px;
    color: #fa2129;;
    padding: 15px 0 0 0;
    margin: 0;
  }

  .black-eraser{
    color: #333333;
  }

}

@media only screen and (max-width: 480px) {

  .vip-signup-into{
    padding: 0 40px;
  }

  .marked-list li {
    font-size: 16px;
    line-height: 20px;

  }
  .testimonials blockquote {
    min-height: 142px;
    font-size: 16px;
  }

  section.well_off1 {
    padding: 12px 0 12px;
  }

  .inline-list li, .inline-list_mod1 li {
    margin: 5px;
  }

  .container {
    clear:both;
    width: 97%;
  }
  .container .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .booking {
    width: 97.8%;;
    margin-left: 0;
    text-align: center;
  }


  .region-content-inner {
    max-width: 420px;
  }


  .container .grid_6 {
    clear:both;
    /*float:none;*/
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 5px;
    margin-bottom: 15px;
  }

  .container .grid_5{
    clear:both;
    float:none;
    width: 97%;
    margin-top: 6px;
    /*height: 228px;*/
  }

  iframe.vip-iframe-youtube {
    width: 100%;
    margin-top: 0;
    height: 255px;
  }
  .grid_6 .promo-img {
    width: 97%;
    height: 255px;
  }


  .container-12 #messages.grid-12 {
    width: 389px;
  }
  .black-eraser {
    font-size: 16px;
    line-height: 27px;
  }
  #region-content .region-content-inner {
    margin-top: 0;
  }
  #kih-couponregister-premium-form {
    padding-left: 0;
  }
  .circle {
    width: 250px;
  }
  img {
    max-width: 75%;
  }

  #block-search-form--2-mobile{
    display:none;
  }

  .dl-menuwrapper {
    text-align: left;
  }
}

@media only screen and (max-width: 460px) {
  .block-search {
    display: none;
  }
  .container {
    width: 460px;
  }
  .container .row {
    width: 455px;
    margin: 0;
    padding: 0;
  }
  .booking {
    width: 97%;
    margin-left: 0;
  }
  .block-search {
    display: none;
  }
  #block-search-form--2-mobile{
    display:none;
  }
  .region-content-inner {
    max-width: 414px;
  }

}

@media only screen and (max-width: 414px) {

  iframe.vip-iframe-youtube {
    width: 100%;
    margin-top: 0;
    height: 225px;
  }
  .grid_6 .promo-img {
    width: 97%;
    height: 225px;
  }
  .parallax  .container .grid_3 {
    width: 98%;
    margin: 0;
    margin-left: 1%;
  }

  .vip-signup-into {
    padding: 0 10px;
}

  .form-item-coupon label, .form-item-is-profession, .form-item-is-parent {
      padding-left: 12.5%;
  }

  .container {
    width: 414px;
    /*margin: 0;*/
    padding: 0;
  }

  .container .row {
    width: 414px;
    margin: 0;
    padding: 0;
  }

  .booking {
    padding: 0;
    width: 99%;
    margin-left: 0;
  }
  .marked-list li {
    /*font-size: 22px;*/
    padding-right: 7px;
  }
  .container .grid_6 {
    width: 99.5%;
  }

  h6.mobile-display {
    display: block;
    width: 100%;
  }
  h6.pc-display {
    display: none;
  }

  #zone-content.container-12{
    width: 400px;
  }
  #zone-content.container-12 .grid-12 {
    width: 400px;
  }

  .black-eraser {
    font-size: 14px;
    line-height: 25px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .block-search {
    display: none;
  }

  #block-search-form--2-mobile {
    display: none;
  }
}

@media only screen and (max-width: 375px) {

  iframe.vip-iframe-youtube {
      height: 202px;
  }

  .form-item-coupon label, .form-item-is-profession, .form-item-is-parent {
      padding-left: 8%;
  }

  .container {
    width: 375px;
    /*margin: 0;*/
    padding: 0;
  }
  .container .row {
    width: 370px;
    margin: 0;
    padding: 0;
  }
  .container-12 .grid-12 {
    width: 330px;
  }
  .booking {
    width: 99%;
    margin-left: 0;
  }
  #zone-content.container-12 {
    width: 360px;
  }
  #zone-content.container-12 .grid-12 {
    width: 360px;
  }
  #block-search-form--2-mobile{
    display:none;
  }
}


@media only screen and (max-width: 360px) {
  .container {
    width: 360px;
    /*margin: 0;*/
    padding: 0;
  }
  .container .row {
    width: 358px;
    margin: 0;
    padding: 0;
  }
  .container-12 .grid-12 {
    width: 330px;
  }
  .booking {
    width: 99%;
    margin-left: 0;
  }
  #zone-content.container-12 {
    width: 350px;
  }
  #zone-content.container-12 .grid-12 {
    width: 350px;
  }
  #block-search-form--2-mobile{
    display:none;
  }
  .container-12 #messages.grid-12 {
    width: 98%;
  }
}

@media only screen and (max-width: 328px) {
  .container {
    width: 320px;
    /*margin: 0;*/
    padding: 0;
  }

  .container .row {
    width: 318px;
    margin: 0;
    padding: 0;
  }
  .container .grid_6 {
    padding: 0;
  }
  .container-12 .grid-12 {
    width: 300px;
  }
  #zone-content.container-12 {
    width: 310px;
  }
  #zone-content.container-12 .grid-12 {
    width: 310px;
  }


}
