@import url(animate.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@charset "UTF-8";
    /**/@font-face {
    font-family: 'eraserdustregular';
    src: url('erasdust_1-webfont.eot');
    src: url('erasdust_1-webfont.eot?#iefix') format('embedded-opentype'), url('erasdust_1-webfont.woff') format('woff'), url('erasdust_1-webfont.ttf') format('truetype'), url('erasdust_1-webfont.svg#svgFontName') format('svg');
}

body div.page {
  background: none;
}

h6 {
    font-family: "eraserdustregular";
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
}
h6.mobile-display {
    display: none;
}
h6.pc-display {
    display: block;
    line-height: 35px;
    font-size: 24px;
    text-transform: none;
}
div.container3 {
    height: 225px;
    position: relative;
}
div.container3 h4 {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 28px;
    line-height: 30px;
    color: #ED0003;
}
body {
    background: #ffffff;
    color: #777777;
    font: 400 16px/27px "PT Sans", sans-serif;
    -webkit-text-size-adjust: none;
}
img {
    max-width: 100%;
    height: auto;
}
.circle {
    display: inline-block;
    border-radius: 50%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
h2 {
    font-size: 40px;
    line-height: 44px;
    color: #3B3B3B;
}
h3 {
    font-size: 31px;
    line-height: 34px;
    color: #ED0003;
}
p a:hover, .copyright a:hover {
    text-decoration: underline;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
 a:active {
    background: transparent;
}
 a:focus {
    outline: none;
}
a[href^="tel: "] {
    color: inherit;
    text-decoration: none;
}
.img-off {
    margin-top: 9px;
}
.testimonials blockquote {
    position: relative;
    margin-bottom: 25px;
    display: block;
    padding: 39px 15px 24px 30px;
    text-indent: 52px;
    background: #ffffff;
    color: #2E2E2E;
    font-weight: normal;
    min-height: 287px;

}

.testimonials blockquote:before {
    position: absolute;
    content: '\f10d';
    font-family: "FontAwesome";
    font-size: 36px;
    line-height: 36px;
    color: #ea0000;
    left: -22px;
    top: 26px;
}

.testimonials blockquote:after {
    position: absolute;
    content: '';
    border: 12px solid transparent;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    top: 100%;
    right: 30px;
    left: 80%;
    width: 0;
    height: 0;
    background-image:none;
}
.fa {
    line-height: inherit;
}
[class*='fa-']:before {
    font-family: "FontAwesome";
}
.page {
    overflow: hidden;
    min-height: 500px;
    text-align: center;
}
 .lt-ie9 .page {
    min-width: 1200px;
}
h2 + p {
    margin-top: 24px;
}
h2 + .row {
    margin-top: 0px;
}
.inline-list {
    margin-left: -18px;
    text-align: center;
    display: block;
}
.inline-list li {
    display: inline-block;
}
.inline-list li a img {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.inline-list li a:hover img {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.inline-list li + li {
    margin-left: 66px;
}


.inline-list img {
    border: none;
}
.inline-list_mod1 {
    margin-left: -40px;
}
.inline-list_mod1 li + li {
    margin-left: 47px;
}

@media (max-width: 979px) {
  .inline-list, .inline-list_mod1 {
    margin: 0;
  }
  .inline-list li, .inline-list_mod1 li {
    margin: 10px;
  }
  .inline-list li + li, .inline-list_mod1 li + li {
    margin: 10px;
  }
}
/*#zone-content.container-12 {
    width: 379px;
}
#zone-content.container-12 .grid-12 {
    width: 379px;
}*/
.brand {
    display: inline-block;
    overflow: hidden;
}
 .brand_name {
    float: left;
    overflow: hidden;
    padding: 0 0 0 36px;
    background: url(../images/vip/logo_bg.png) 0 0 no-repeat;
    font-size: 43px;
    line-height: 43px;
    font-weight: 700;
    color: #ffffff;
}
 .brand_slogan {
    float: left;
    padding: 19px 0 0 5px;
    font-size: 14px;
    line-height: 24px;
}
.btn {
    display: inline-block;
    padding: 11px 28px 14px;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    background: #E70003;
    border-bottom: 2px solid #C10003;
}
 .btn:hover {
    background: #E70003;
    border-color: #C10003;
}
 * + .btn {
    margin-top: 39px;
}

.marked-list{
  text-align: left;
  margin-left: 4%;
}
.marked-list li {
    position: relative;
    padding-left: 32px;
    font-size: 30px;
    line-height: 36px;
    color: #2c2c2c;
}
 .marked-list li:before {
    content: '\f058';
    position: absolute;
    left: -2px;
    top: 3px;
    font-weight: 400;
    font-size: 28px;
    font-family: "FontAwesome";
    color: #E30003;
}
 .marked-list li + li {
    margin-top: 11px;
}
 .marked-list li.uncheck:before {
    content: '\f00d';
}
.marked-list__mod-1 li {
    position: relative;
    padding-left: 58px;
    padding-top: 5px;
}
 .marked-list__mod-1 li:before {
    content: '\f0ad';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 21px;
    font-weight: 400;
    font-family: "FontAwesome";
    color: #ffffff;
    background: #E30003;
    border-radius: 50%;
}
 .marked-list__mod-1 li + li {
    margin-top: 16px;
}
.marked-list__mod-1 li {
    font-size: 21px;
    line-height: 29px;
    color: #;
}
.marked-list__mod-1 a:hover {
    color: #E30003;
}
.lazy-img {
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    background: #fff url(../images/vip/lazy-loader.gif) no-repeat center center;
}
 .lazy-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
    opacity: 0;
}
 .lt-ie9 .lazy-img img {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
 .lazy-img .lazy-loaded {
    opacity: 1;
}
 .lt-ie9 .lazy-img .lazy-loaded {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=100);
}
.thumb {
    display: block;
    position: relative;
    overflow: hidden;
}
 .thumb img {
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
 .thumb_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #fff;
    background: transparent;
}
 .thumb_overlay:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font: 400 30px "FontAwesome";
    line-height: 30px;
    margin-top: -15px;
    text-align: center;
}
 .lt-ie9 .thumb_overlay:before {
    display: none;
}
 .thumb:hover .thumb_overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}
 .lt-ie9 .thumb:hover .thumb_overlay {
    background: none;
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000')";
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
    zoom: 1;
}
 .lt-ie9 .thumb:hover .thumb_overlay:before {
    display: block;
}
 .thumb:hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.parallax {
    background-position: center 0;
    background-repeat: no-repeat;
    color: #ffffff;
}
 .parallax h2 {
    font-size: 54px;
    line-height: 97px;
    color: #ffffff;
}
 @media (max-width: 979px) {
    .parallax h2 {
    font-size: 46px;
    line-height: 54px;
}
 }
 @media (max-width: 479px) {
    .parallax h2 {
    font-size: 36px;
    line-height: 46px;
}
 }
 .parallax h2 em {
    font-size: 80px;
    line-height: 78px;
    font-weight: 700;
    text-transform: uppercase;
}
 @media (max-width: 979px) {
    .parallax h2 em {
    font-size: 52px;
    line-height: 58px;
}
 }
 @media (max-width: 479px) {
    .parallax h2 em {
    font-size: 42px;
    line-height: 46px;
}
 }
 .parallax .btn {
    font-size: 20px;
    background: #ED0003 border-color: #C10003;
    border-width: 0 0 3px 0;
    padding: 16px 49px 18px;
}
 .parallax .btn:hover {
    color: #191919;
    background: #ffffff;
    border-color: #ffffff;
}
 * + .parallax .btn {
    margin-top: 36px;
}
 .parallax * + p {
    margin-top: 8px;
}
 .mobile .parallax, .tablet .parallax {
    background-position: 50% 0 !important;
    background-size: cover;
}
.parallax01 {
    background-color: #ffffff;
    background-image: url(../images/vip/bgimg01.jpg);
    padding: 25px 0 80px;
}
.parallax02 {
    background-color: #ffffff;
    background-image: url(../images/vip/bgimg02.jpg);
    padding: 58px 0 84px;
    text-align: center;
}
@media (max-width: 768px) {
    .parallax {
    background-position: center 0 !important;
    background-size: cover;
}
 header.home {
    max-width: 768px;
}
}
.toTop {
    width: 70px;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
    color: #fff;
    background: #E70003;
    position: fixed;
    right: 66px;
    bottom: 180px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
}
 .toTop:hover {
    color: #fff;
    background: #b90000;
    text-decoration: none;
}
@media only screen and (max-width: 1399px) {
    .toTop {
    display: none !important;
}
}
.subscribe-form {
    position: relative;
    display: inline-block;
}
 .subscribe-form label {
    display: block;
    position: relative;
    padding: 9.5px 10px 9.5px;
    width: 310px;
    background: #eb695b;
    border: 2px solid #f9897d;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 .subscribe-form input {
    outline: none;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: baseline;
    box-shadow: none;
    color: #fff;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    height: 22px;
}
.error {
    color: #333333;
    overflow: hidden;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.container-12 #messages.grid-12 {
    max-width: 370px;
    width: 360px;
    margin-top: -10px;
}
label.invalid .error {
    height: 21px;
}
.success {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #e12d2d;
    background: #ffffff;
}
@media (max-width: 479px) {
    .subscribe-form label {
    width: 100%;
}
 }
.map_model {
    height: 310px;
}
 .map_model img {
    max-width: none !important;
}
 @media (max-width: 767px) {
    .map_model {
    height: 250px;
}
 }
 @media (max-width: 479px) {
    .map_model {
    height: 200px;
}
 }
.map_locations {
    display: none;
}
header {
    background: #ffffff;
}
 header .brand {
    display: inline-block;
}
 @media (max-width: 767px) {
    header {
    text-align: center;
  }
   header .brand, header .nav {
      float: none;
  }
 }
.header_panel {
    text-align: center;
    padding: 22px 0 17px;
}
 .header_panel:before, .header_panel:after {
    display: table;
    content: "";
    line-height: 0;
}
 .header_panel:after {
    clear: both;
}
.promo {
    padding: 0px 0 40px;
    font-size: 21px;
    line-height: 36px;
    color: #ffffff;
    align-content: center;
}
@media (max-width: 979px) {
    .promo {
    padding: 00px 0 40px;
    font-size: 18px;
    line-height: 30px;
}
}
 @media (max-width: 767px) {
    .promo {
    padding: 0 0 40px;
}
 }
 .promo h2 {
    font-size: 54px;
    line-height: 68px;
    color: #ffffff;
}
 @media (max-width: 979px) {
    .promo h2 {
    font-size: 46px;
    line-height: 54px;
}
 }
 @media (max-width: 479px) {
    .promo h2 {
    font-size: 36px;
    line-height: 46px;
}
 }
 .promo h2 em {
    font-size: 80px;
    line-height: 108px;
    font-weight: 700;
    text-transform: uppercase;
}
 @media (max-width: 1199px) {
    .promo h2 em {
    font-size: 70px;
    line-height: 80px;
}
 }
 @media (max-width: 979px) {
    .promo h2 em {
    font-size: 52px;
    line-height: 58px;
}
 }
 @media (max-width: 479px) {
    .promo h2 em {
    font-size: 42px;
    line-height: 46px;
}
 }
 .promo * + p {
    margin-top: 25px;
}
 @media (max-width: 979px) {
    .promo * + p {
    margin-top: 20px;
}
 }
.booking {
    padding: 5px;
    margin-left: 5%;
    font-size: 14px;
    line-height: 23px;
    color: #2B2B2B;
    width: 379px;
    height: 450px;
    background: #fff;
    border: solid 2px #efefef;
    box-shadow: 0 0 27px #666666;
    border-radius: 4px;
}
 .booking h2 {
    font-size: 20px;
    line-height: 24px;
    color: #fa2129;
    padding: 10px 0 0 0;
    margin: 0;
    font-weight: bold;
}
 .booking * + p {
    margin-top: 6px;
}
main {
    display: block;
    background: #ffffff;
}
section.well {
    padding: 41px 0 47px;
}
 section.well_off1 {
    padding: 41px 0 50px;
}
 section.well_off2 {
    padding: 41px 0 59px;
}
 section.well_off3 {
    padding: 41px 0 0;
}
 section.well_off4 {
    padding: 0px 0 0px;
}
.bg-1 {
    background: #eaeaea;
}
.pricing {
    padding: 17px 0 33px;
    text-align: center;
    border: 2px solid #e4f0ed;
}
 .pricing em {
    display: block;
    background: #20c39f;
    margin-left: -2px;
    margin-right: -2px;
    padding: 9px 0 8px;
    font-size: 45px;
    line-height: 63px;
    color: #ffffff;
}
 * + * .pricing em {
    margin-top: 20px;
}
 .pricing .marked-list {
    width: 262px;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 .pricing .marked-list li {
    text-align: left;
    padding-left: 37px;
}
 .pricing .marked-list li span {
    font-size: 16px;
    line-height: 18px;
    color: #777777;
}
 .pricing .marked-list li:before {
    color: #e12d2d;
    font-size: 21px;
    line-height: 18px;
    left: 0;
    top: 0;
}
 .pricing .marked-list li.uncheck:before {
    color: #e12d2d;
    left: 2px;
}
 .pricing .marked-list li + li {
    margin-top: 6px;
}
 .pricing .btn {
    color: #db0707;
    background: none;
    border: 2px solid #e4f0ed;
    border-bottom-color: #cdd8d5;
    padding: 9px 26px 14px;
}
 .pricing .btn:hover {
    color: #ffffff;
    background: #db0707;
    border-color: #db0707;
    border-bottom-color: #B90003;
}
 .pricing * + .btn {
    margin-top: 21px;
}
 .pricing * + .marked-list {
    margin-top: 28px;
}
.testimonials em {
    font-size: 20px;
    line-height: 30px;
    color: #e12d2d;
}
@media (max-width: 767px) {
    footer {
    text-align: center;
}
 }
.footer-panel {
    padding: 10px 0 10px;
    background: #ED0003;
}
 .footer-panel h3 {
    color: #ffffff;
    float: left;
    margin: 3px 0 0 0;
}
 @media (max-width: 1199px) {
    .footer-panel h3 {
    float: none;
    text-align: center;
}
 .footer-panel h3 + * {
    margin-top: 10px;
}
 }
.subscribe .subscribe-form {
    float: left;
}
 .subscribe .subscribe-form label {
    float: left;
    margin: 0 0 0 18px;
}
 @media (max-width: 1199px) {
    .subscribe .subscribe-form label {
    margin-left: 0;
}
 }
 @media (max-width: 979px) {
    .subscribe .subscribe-form label {
    width: 284px;
}
 }
 @media (max-width: 767px) {
    .subscribe .subscribe-form label {
    float: none;
    width: 100%;
}
 }
 @media (max-width: 1199px) {
    .subscribe .subscribe-form {
    float: none;
    width: 100%;
}
 }
.subscribe .btn {
    float: left;
    margin: 0 0 0 10px;
    padding: 8px 29px 12px;
}
 .subscribe .btn:hover {
    color: #191919;
    background: #ffffff;
    border-color: #ffffff;
}
 @media (max-width: 767px) {
    .subscribe .btn {
    margin: 10px 0 0 0;
    float: none;
}
}
.follow {
    overflow: hidden;
    float: right;
}
 @media (max-width: 1199px) {
    .follow {
    float: none;
    text-align: center;
}
}
 .follow ul {
    margin-top: 8px;
    margin-left: 30px;
    float: left;
}
 @media (max-width: 1199px) {
    .follow ul {
    float: none;
    display: inline-block;
    margin-top: 18px;
    margin-left: 0;
  }
 }
 .follow ul li {
    float: left;
}
 .follow ul li a {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
}
 .follow ul li a:hover {
    color: #20c39f;
}
 .follow ul li + li {
    margin-left: 37px;
}
.copyright {
  padding: 14px 0 19px 10%;
  text-align: left;
  background-color: #ffffff;
}
.form-legend {
    color: rgb(254, 83, 83);
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.region-content-inner {
    max-width: 360px;
    margin-top: 0px;
    align-items: center;
}
.booking h4 {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 14px;
    margin-left: 8px;
    letter-spacing: -0.1px;
}
.black-eraser {
    /*font-family: Eraser;*/
    font-family: "Open Sans";
    color: #fff;
    font-size: 18px;
    margin: 0;
    text-align: center;
}




h6 {
    line-height: 32px;
    padding-bottom: 15px;
}
#kih-couponregister-premium-form {
    font-weight: bold;
    padding-left: 0;
}
#kih-couponregister-premium-form input[type="text"], input[type="password"], textarea {
    font-size: 1.1em;
    width: 300px;
    padding: 3px 15px;
}
#kih-couponregister-premium-form .form-item, .form-actions {
    margin-top: 2px;
    margin-bottom: 2px;
}
#kih-couponregister-premium-form .description {
    font-style: italic;
}
[for="edit-age-datepicker-popup-0"] {
    display: none;
}
.register_terms a {
    color: red;
}
#kih-couponregister-premium-form .container-inline-date .date-padding {
    padding: 2px;
}
#talk-to-us, #take-the-tour {
    display: none}
.register_terms {
    text-align: center;
    letter-spacing: -0.6px;
    font-size: 13px;
}
h1.red-eraser {
    max-width: none;
    font-size: 34px;
}
#edit-submit {
    /*margin-left: 48px;*/
    margin-top: 10px;
    margin-bottom: 7px;
}
iframe.vip-iframe-youtube {
  margin-top: 58px;
  width: 96%;
  height: 301px;
    /*padding-left: 5%;*/
    /*border: solid 3px #eeefff;
    box-shadow: 5px 5px 7px #dddddd;
    border-radius: 4px;*/
}
.form-item-coupon label, .form-item-is-profession, .form-item-is-parent {
    text-align: left;
    padding-left: 30px;
}

.dl-menuwrapper{
  text-align: left;
}

.vip-red-bar-bg {
    background-color: #d30309;
    padding: 10px;
}

.vip-clear-bg {
  height: 9px;
  background-color: #fff;
  margin-top: -10px;
}

.h1-black-eraser{
  font-family: 'Eraser';
  text-transform: uppercase;
  font-size: 38px;
  color: #000;
  padding: 10px 0;
  padding-top: 15px;
  margin: 0;
}

.promo-img {
  padding: 5px;
  height: 450px;
  border: solid 2px #efefef;
  box-shadow: 0 0 27px #666666;
  background-color: #fff;
}

body.not-front #section-content {
  margin-top: 0;
}
