@import "init";

#responsive-indicator { display: none; } /* set for jQuery */
#mobile-indicator { display: none; } /* set for jQuery */

body.front {
    #block-block-200 img { width: 80%; }

    #article-48290 {
        #press-left { width: 64%; margin-right: 1%; }
        #press-left img { width: 100%; }

        #press-right { width: 35%; }
        #press-right img { width: 100%; }
        #press-right img.mobile { display: none; }
    }
}

body.page-subcat {
    #block-kih-categories-kih-categories-subcats .views-row .video-search-result-video:nth-child(n+4) { display: none; }
}

body.page-node-8081 {
    #responsive-about-links { display: none; }
    #block-block-167 .press-rect img.responsive { display: none; }
}

body.context-experts {
    #experts-menu-responsive { display: none; }
}

body.node-type-videos {
    #video_player {
        width: 100%;
    }
    #video_outer_container {
        position: relative;
        height: 0;
        padding-bottom: 64.52%;
    }
    #video_player .BrightcoveExperience {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    #video-accordion { display: none; }
}

body.page-user{
  #profile-accordion{display: none;}
}

body.node-type-article {
    article { margin-bottom: 20px; }
    #video_info { padding: 10px 0; }
    #comments { display: none; }
    .field-name-field-article-image { border: none; }
    .field-name-field-article-image img { border: 1px solid #ccc; width: 100%; height: auto; }
}

body.node-type-blog {
    article { margin-bottom: 20px; }
    article footer.submitted { margin-bottom: 10px; }
    #video_info { padding: 10px 0; }
    #comments { display: none; }
    .field-name-field-article-image { border: none; }
    .field-name-field-article-image img { border: 1px solid #ccc; width: 100%; height: auto; }
}


/**************************
** Tablet & Mobile styles
***************************/
@media only screen and (max-width: 1000px) {
    #responsive-indicator { display: block; } /* set for jQuery */
    .mobile-tablet-block {display: block;}

  /* Registration */
  #kith-register-step2{
    #register_form .register_left{ float: none; width: auto !important; padding-left: 0px !important;}
    #edit-next{ float: none !important;}
    #register_about_family{padding: 20px; padding-bottom: 200px; background: transparent url("/sites/all/themes/gung_theme/images/little_family.png") no-repeat scroll center bottom !important; }
    .form-item-field-secret-code-und-0-value{margin-left: -10px;}
  }


  #kith-register-step3{
    .register_success{ width: auto; background-position: center top; margin-left: auto; margin-right: auto;}
    .register_left{ float: none;  padding: 0px; width: auto !important; min-width: 300px;}
    .submit-button{ font-size: 19px; float: none; display: inline-block; font-size: 19px; width: 150px; padding: 1.5% !important; margin: 0px !important;}
    #register_form .register_success_like{ display: none;}
  }

/* Playlist */
  #oops-wrapper{
    .half-right-message{float: none; margin: 0 auto; width: auto !important;}
    .half-left-message{float: none; margin: 0 auto; width: auto !important;}
  }

  body.page-playlists #oops-wrapper .left-inner{
    max-width: 500px;
    margin: 0 auto;
  }

  /* Menu Styles */
#block-menu-menu-site-menu{
  margin-top: 20px;
  text-align: center;
  .menu{text-align: center !important;}
  li{float: none !important; display: inline-block !important;}
}

  body.context-forum .subcategory-container{
    display: none;
  }

.dl-menuwrapper li a {
    font-size:15px;
    color: #d61518;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75) !important;
    background: rgb(252,252,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border-top:1px solid #fff;
  }

.dl-menuwrapper li a:hover {
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3) !important;
    background: rgb(235,29,35) !important; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(235,29,35,1) 0%, rgba(214,21,24,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,29,35,1)), color-stop(100%,rgba(214,21,24,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,29,35,1) 0%,rgba(214,21,24,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,29,35,1) 0%,rgba(214,21,24,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,29,35,1) 0%,rgba(214,21,24,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,29,35,1) 0%,rgba(214,21,24,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1d23', endColorstr='#d61518',GradientType=0 ) !important; /* IE6-9 */
  }

.dl-menuwrapper button, .dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active {
    background: url("/sites/all/themes/gung_theme/images/hamburger-icon.png") no-repeat;
    width: 65px;
    height:65px;
    border-radius:0;
  }

li.dl-back, li.dl-back a {
    color:#fff !important;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3) !important;
    background: rgb(130,130,130); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(130,130,130,1) 0%, rgba(99,99,99,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,130,130,1)), color-stop(100%,rgba(99,99,99,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(99,99,99,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(99,99,99,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(99,99,99,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(130,130,130,1) 0%,rgba(99,99,99,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#636363',GradientType=0 ); /* IE6-9 */
    border-top: 0 !important;
  }
  .dl-menuwrapper button:after {
    content: none !important;
  }
  .dl-menuwrapper .dl-menu.dl-menuopen {
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.36);
    border:1px solid #fff;
  }

  .dl-menuwrapper {
    display: block;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    max-width: 300px;
    perspective: 1000px;
    perspective-origin: 50% 200%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* Cart and Checkout Screens */
  .review-order-imgblock, .checkout-imgblock{
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .checkout-image{float: none !important; width: auto !important;}

  /* BabyCare 101 */
  body.context-baby-care-101{
    .best-baby-shower{top: auto; float: none; margin-left: auto; margin-right: auto;}
    .film-strip{margin-bottom: 0px; margin-left: -10%; text-align: center; width: 115px; width: 120%;}
    .full-vid-wrapper{text-align: center;}
    .right-side-bullets{float: none; max-width: auto; padding: 0px;}
    .order-bar{ margin-left: 0px; }
    .left-side-postit{  text-align: left; float: none; margin-left: auto; margin-right: auto; background-size: cover; height: 350px;   max-width: 450px; min-height: 400px; min-width: 300px; padding-left: 10%; padding-right: 10%; padding-top: 75px; text-align: left; width: 40%;
       ul { margin-top: 5%; }
       li{ font-size: 14px; max-width: 325px; margin-bottom: 0px; font-size: 12px;}
      .right-side-bullets { float: none; margin-left: auto; margin-right: auto; text-align: left; padding-top: 2%; padding-bottom: 2%; max-width: 450px; text-align: left;}
    }
    .badge-bar{ margin-left: 0px; }
    .guaranteen-bar{padding-left: 0px;}
    .highlight-wrapper{ width: auto; font-size: 12px; background-size: cover; float: none;}
    .full-quote-wrapper{ clear: both; margin-top: 100px; padding-top: 10px; max-width: auto; margin-left: auto !important; padding-right: 0px; }
    .basic-tm-wrapper{ clear: both; margin-top: 100px; margin-bottom: 10px;}
    .bc-tm-inner-quote{ padding-top: 0px !important; margin-left: 55px !important; margin-top: -25px;}
    .quote-image{margin: 0px 2% 150px !important;  width: 10% !important;}
    .bcare-product{ padding-left: 0px !important; }
    .final-cta-left{ float: none; padding-bottom: 25px; width: auto !important;  }
    .final-cta-right{ float: none; width: auto; margin-top: 0px; margin-bottom: 10px;}

    .logo-soup{max-with: 100%; min-width: 300px;
      img{ width: 96%; margin-left: auto; margin-right: auto;}
    }
    .bcarelogo{min-width: 300px;
      img{width: 96%; margin-left: auto; margin-right: auto;}
    }

    #baby-care-new-wrapper{
      width: 94%;
      max-width: 94%;
      margin-left: auto;
      margin-right: auto;
    }

    .best-baby-shower{ display: none;}
    .badge-bar{
      max-width: 100%;
      img{width: 96%;}
    }

  }



  /* ALL PAGES */
    /* Make 960px grid responsive */
    html { background-image: none; }
    body { min-width: inherit; }
    
    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, 
    .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { margin-left: 1.0415%; margin-right: 1.0415%; }
    
    .container-12 { margin-left: auto; margin-right: auto; width: 90%; }
    .container-12 .grid-1 { width: 6.25%; }
    .container-12 .grid-2 { width: 14.583%; }
    .container-12 .grid-3 { width: 22.917%; }
    .container-12 .grid-4 { width: 31.25%; }
    .container-12 .grid-5 { width: 39.583%; }
    .container-12 .grid-6 { width: 47.917%; }
    .container-12 .grid-7 { width: 56.25%; }
    .container-12 .grid-8 { width: 64.583%; }
    .container-12 .grid-9 { width: 72.917%; }
    .container-12 .grid-10 { width: 81.25%; }
    .container-12 .grid-11 { width: 89.583%; }
    .container-12 .grid-12 { width: 97.917%; }
    
    body div.page { background: #fff; }
    #section-content { min-height: inherit !important; padding-bottom: 20px; }
    #talk-to-us, #take-the-tour { display: none; }
    #views_infinite_scroll-ajax-loader img { max-width: 43px; }

    /* Header */
    #zone-user-wrapper { display: none; }
    #zone-branding { width: 100%; box-sizing: border-box; margin: 0; padding: 10px 5px !important;

        background: #f0f0f0;
        background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0));
        background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
                
        -webkit-box-shadow: 0 3px 6px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 3px 6px 0px rgba(0,0,0,0.3);
        box-shadow: 0 3px 6px 0px rgba(0,0,0,0.3);
    }

   /*
    #zone-branding::before {
        display: block;
        content: '';
        background-image: url('../images/hamburger-icon.png');
        background-repeat: no-repeat;
        background-position: 10px -5px;
        width: 75px;
        height: 65px;
        position: absolute;
        cursor: pointer;
    }
    */

    #zone-preface-wrapper { padding: 20px 0 0; margin-top: 20px; }
    
    #block-block-133, #block-block-194, #block-block-195 { display: none; } /* Ads */
    #region-branding { float: right; width: auto; }
    #region-branding .logo-img { margin: 0; }
    #zone-menu { display: none; }
    #nav-menu-block { display: none; }

    /* Footer */
    #zone-footer { background-size: cover; width: 100%; height: auto; padding-left: 0; padding-right: 0; }
    #region-footer-first, #region-footer-second { display: none; }

    /* User Profile Page */
    body.page-user{
      #region-preface-second{
        display: none;
      }
      #region-preface-first{
        width: 97.917%;
      }
      @media only screen and (max-width: 700px) {
        #regular-profile-wrapper{ margin-left: -40px;}
      }
    }

  /* Professional Profile Page*/
  .user-pro-books{ display: none; }

  /* Forum Page */
    body.page-forum,  .node-type-forum, .page-search-friends{
      .top-post .post-body{width: auto !important;}

      .forum-main-header {
        width: auto !important;
        padding-right: 200px !important;
      }

        #region-preface-first{
        width: 97.917%;
        }
      #region-preface-second{
        display: none;
        }

      .recent-advice-title{ display: none;}

      @media only screen and (max-width: 700px) {
        .forum-main-header{
          h3{ font-size: 14px; margin-bottom: 0px; margin-top: 0px; margin-bottom: -10px;}
          ul{margin: 10px 0 0;}
        }
      }

    }

  .forum-advice .views-field-cid {
    float: left;
    font-size: 13px;
    margin-left: 50px !important;
    margin-right: 30px !important;
    margin-top: -5px !important;
    width: 425px !important;
  }


  #block-quicktabs-members{ margin-top: 0px; }

    /* HOME PAGE */
    body.front {
        /* Search */
        #region-branding .logo-img { margin: 0; }
        .homepage-search-image { width: 32%; height: 200px; margin-top: 50px; } /* set height so search box can be aligned */
        .homepage-search-image img { width: 100%; }
        .home-search-text-wrapper { width: 68%; margin-top: 70px; }
        .block-search-black-txt { font-size: 22px; }
        .block-search-red-txt { font-size: 18px; }
        #search-block-form { width: 66%; left: 34%; top: -60px; margin-top: -30px; }
        #search-block-form .form-type-textfield.form-item-search-block-form { width: 100%; }
        input#edit-search-block-form--2 { width: 100%; }
        #search-block-form .form-type-textfield.form-item-search-block-form input { width: 100%; }
        #search-block-form .form-actions { margin-left: -14%; }

        @media only screen and (max-width: 800px) {
            .block-search-black-txt { font-size: 18px; }
            .block-search-red-txt { font-size: 16px; }
            #search-block-form { margin-top: -45px; }
        }
    
        /* Trending Videos */
        #block-views-video-interlock-block { 
            width: 100%;
            .views-row { width: 24.25%; margin-right: 1%; }
            .views-row-4 { margin-right: 0; }
            .views-row img { width: 100%; height: auto; }
        }

        /* Featured Experts */
        .view-id-featured_experts { 
            width: 100%;
            .views-row { width: 24.25%; margin-right: 1%; }
            .views-row-4 { margin-right: 0; }
            .views-row img { width: 100% !important; height: auto; }
        }

        @media only screen and (max-width: 800px) {
            .view-id-featured_experts { font-size: 13px; }
        }
        @media only screen and (max-width: 700px) {
            .view-id-featured_experts { font-size: 12px; }
        }

        /* Cartoon of the Week */
        .region-preface-second { width: 100% !important; }
        #block-views-cartoon-of-the-week-block { float: left; width: 39%; height: auto; background: url('../images/cartoon-week-bg-responsive.png') top center no-repeat; background-size: contain; overflow: hidden; margin-top: 5%; margin-bottom: 15px; padding-bottom: 3%; }
        #block-views-cartoon-of-the-week-block .view-header { display: none; }
        #block-views-cartoon-of-the-week-block .view-content { margin-top: 7%; }
        #block-views-cartoon-of-the-week-block .view-cartoon-of-the-week { margin: 0; }
        .view-cartoon-of-the-week .views-row { width: 52%; margin: 0; float: none; display: inline-block; }
        .view-cartoon-of-the-week .views-row img { width: 100%; }

        /* Newsletter signup */
        #block-kih-downloads-kih-dls-all-parents-long { float: right; width: 58%; margin-left: 3%; margin-top: 1%; }
        #mc_embed_signup { width: 100%; height: auto; background: url('../images/homepages/download-plate-responsive.png') no-repeat !important; background-size: contain !important; min-height: 420px; }
        #mc_embed_signup form { width: 100%; }
        #mc_embed_signup .download-title { margin-left: 5%; margin-top: 18%; width: 40%; }
        #mc_embed_signup input.email { width: 73% !important; margin-top: 24% !important; margin-left: 5% !important; }
        #mc_embed_signup input.button { margin-right: 14% !important; margin-top: -26px !important; }

        @media only screen and (max-width: 850px) {
            .view-cartoon-of-the-week .views-row { width: 49%; }
            #mc_embed_signup { min-height: 360px; }
            #mc_embed_signup .download-title { margin-top: 11%; }
            #mc_embed_signup input.email { margin-top: 20% !important; }
            #mc_embed_signup input.button { margin-right: 12% !important; }
        }
        @media only screen and (max-width: 650px) {
            #mc_embed_signup { min-height: 300px; }
            #mc_embed_signup input.email { margin-top: -5% !important; }
            #mc_embed_signup input.button { margin-right: 10% !important; }
        }
    
        /* Help */
        #block-block-200 { float: left; width: 39%; margin: -10px 0 0; }
        #block-block-200 img { width: 85%; }

        /* Promo block */
        #block-block-208 { display: none; }
    
        /* Happening in the House */
        #zone-preface-wrapper { background: #f2f2f2; width: 100%; 
            -webkit-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.3), inset 0 -5px 5px -5px rgba(0,0,0,0.3);
            -moz-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.3), inset 0 -5px 5px -5px rgba(0,0,0,0.3);
            box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.3), inset 0 -5px 5px -5px rgba(0,0,0,0.3);
        }
        .happening-in-house-featured { width: 100%; }
        .happening-in-house-featured .block-title { text-align: center; }
        .region-preface-first { width: 100% !important; }
        .happening-in-house-featured .view-happening-in-the-house-featured { background: #fff; height: auto; overflow: hidden; }
        .happening-in-house-featured .views-field-field-newsletter-sm-sq-body { width: 18%; margin-right: 2%; }
        .happening-in-house-featured .views-field-field-newsletter-sm-sq-body img { width: 100%; height: auto; }
        .happening-in-house-featured .views-field-title, .happening-in-house-featured .views-field-body { width: 80%; }

        /* Bottom Article & Press */
        #article-48290 #about-banner, #article-48290 #about-main { display: none; }
        #article-48290 h1.subtle-title { display: none; } /* SEO line of text */
    }

    /* CATEGORY & SUBCATEGORY PAGES */
    body.page-taxonomy {
        #zone-header-wrapper { display: none; }
        .cat-description { font-size: 13px; }
        #block-views-find-expert-block-1 { display: none; }
        #region-preface-first { width: 100%; float: none; }
        #region-preface-second { width: 100%; float: none; }
    }
    
    /* Category Blocks */
    body.page-cat {
        #categories-landing { margin: -10px; }
        #region-preface-first .region-inner { width: 625px; margin: 0px auto; }  /* Fixed width to work with Masonry blocks */
        #region-preface-second .region-inner { width: 625px; margin: 0px auto; }

        #block-kih-downloads-kih-dls-all-parents { float: left; margin-left: -15px; position: relative; left: 5px; }
        #block-views-recent-blog-posts-block-1 { float: left; position: relative; left: 30px; }
        #block-views-recent-forum-posts-block-1 { clear: both; float: none; margin: 0px auto; }
        #categories-landing .taxblock div.subcatlist { max-height: none; overflow-x: visible; }

      .video-search-result-video img{height: auto !important;}
    }
    
    /* Subcategory Blocks */
    body.page-subcat {
        #region-preface-first .region-inner { width: 94%; margin: 0px auto; }
        #region-preface-second .region-inner { width: 94%; margin: 0px auto; }
        #block-kih-categories-kih-categories-subcats {
            .subcategory-container { width: 100%; padding-left: 1%; padding-right: 1%; height: auto; overflow: hidden; box-sizing: border-box; }
            .subcategory-container .subcategory-title { margin-left: 1%; }
            .views-row .video-search-result-video { width: 23%; margin-left: 1%; margin-right: 1%; max-height: inherit; }
            .views-row .video-search-result-video img { width: 100% !important; box-sizing: border-box; }    
            .views-row .video-search-result-video:nth-child(n+4) { display: block; }
        }

        h2.subcategory-title { margin-bottom: 20px; }
        a.category-count-button {
            margin-top: -46px;
            margin-right: 1%;

            font-family: "Franklin Gothic Book", Arial, sans-serif;
            border-radius: 3px;
            padding: 10px 18px 6px;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            text-shadow: none;
            text-align: center;
            width: 126px;

            background-image: url(gradient.php?from=E61F25&to=B5151A&to_pct=80);
            background-image: -ms-linear-gradient(top, #E61F25 0%, #B5151A 80%);
            background-image: -moz-linear-gradient(top, #E61F25 0%, #B5151A 80%);
            background-image: -o-linear-gradient(top, #E61F25 0%, #B5151A 80%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E61F25), color-stop(0.8, #B5151A));
            background-image: -webkit-linear-gradient(top, #E61F25 0%, #B5151A 80%);
            background-image: linear-gradient(to bottom, #E61F25 0%, #B5151A 80%);
            filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#E61F25", endColorStr="#B5151A");
        }

        #block-kih-downloads-kih-dls-all-parents { float: left; margin-left: -15px; position: relative; left: 5px; }
        #block-views-recent-blog-posts-block-1 { float: left; position: relative; left: 30px; }
        #block-views-recent-forum-posts-block-1 { clear: both; float: none; margin: 0px auto; }

        @media only screen and (max-width: 910px) {
            #block-kih-categories-kih-categories-subcats .views-row .video-search-result-video { width: 31.33%; margin-left: 1%; margin-right: 1%; }
            #block-kih-categories-kih-categories-subcats .views-row .video-search-result-video:nth-child(n+4) { display: none; }
        }

        @media only screen and (max-width: 690px) {
            #block-kih-categories-kih-categories-subcats {
                .subcategory-container { padding-left: 2%; padding-right: 2%; }
                .views-row .video-search-result-video { width: 48%; margin-left: 1%; margin-right: 1%; }
                .views-row .video-search-result-video:nth-child(n+3) { display: none; }
                a.category-count-button { width: auto; min-width: 90px; }
            }

            #block-kih-downloads-kih-dls-all-parents { float: none; margin: 0 auto; left: -5px; }
            #block-kih-downloads-kih-dls-all-parents #mc_embed_signup { margin: 0 auto; }
            #block-views-recent-blog-posts-block-1 { float: none; margin: 0 auto; left: 0px; }
            #block-views-recent-forum-posts-block-1 { clear: both; float: none; margin: 10px auto; position: relative; left: 5px; }
        }
      .video-search-result-video img{height: auto !important;}
    }


  /* Global Categories */

  #region-preface-first .region-inner { width: 94%; margin: 0px auto; }
  #region-preface-second .region-inner { width: 94%; margin: 0px auto; }
  #block-kih-categories-kih-categories-subcats {
    .subcategory-container { width: 100%; padding-left: 1%; padding-right: 1%; height: auto; overflow: hidden; box-sizing: border-box; }
    .subcategory-container .subcategory-title { margin-left: 1%; }
    .views-row .video-search-result-video { width: 23%; margin-left: 1%; margin-right: 1%; max-height: inherit; }
    .views-row .video-search-result-video img { width: 100% !important; box-sizing: border-box; }
    .views-row .video-search-result-video:nth-child(n+4) { display: block; }
  }

  h2.subcategory-title { margin-bottom: 20px; }
  a.category-count-button {
    margin-top: -46px;
    margin-right: 1%;

    font-family: "Franklin Gothic Book", Arial, sans-serif;
    border-radius: 3px;
    padding: 10px 18px 6px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: none;
    text-align: center;
    width: 126px;

    background-image: url(gradient.php?from=E61F25&to=B5151A&to_pct=80);
    background-image: -ms-linear-gradient(top, #E61F25 0%, #B5151A 80%);
    background-image: -moz-linear-gradient(top, #E61F25 0%, #B5151A 80%);
    background-image: -o-linear-gradient(top, #E61F25 0%, #B5151A 80%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E61F25), color-stop(0.8, #B5151A));
    background-image: -webkit-linear-gradient(top, #E61F25 0%, #B5151A 80%);
    background-image: linear-gradient(to bottom, #E61F25 0%, #B5151A 80%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#E61F25", endColorStr="#B5151A");
  }

  #block-kih-downloads-kih-dls-all-parents { float: left; margin-left: -15px; position: relative; left: 5px; }
  #block-views-recent-blog-posts-block-1 { float: left; position: relative; left: 30px; }
  #block-views-recent-forum-posts-block-1 { clear: both; float: none; margin: 0px auto; }

  @media only screen and (max-width: 910px) {
    #block-kih-categories-kih-categories-subcats .views-row .video-search-result-video { width: 31.33%; margin-left: 1%; margin-right: 1%; }
    #block-kih-categories-kih-categories-subcats .views-row .video-search-result-video:nth-child(n+4) { display: none; }
  }

  @media only screen and (max-width: 690px) {
    #block-kih-categories-kih-categories-subcats {
      .subcategory-container {
        padding-left: 2%;
        padding-right: 2%;
      }
      .views-row .video-search-result-video {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
      }
      .views-row .video-search-result-video:nth-child(n+3) {
        display: none;
      }
      a.category-count-button {
        width: auto;
        min-width: 90px;
      }
    }
  }

    /* EXPERTS PAGE */
    body.context-experts {
        #zone-preface { background: none; }
        #region-preface-first, #region-preface-second { width: 97.917%; }
        #experts-menu-responsive { 
            display: block; 
            text-align: center;
            #experts-cat { display: block; width: 380px; font-size: 16px; padding: 5px 10px; margin: 0 auto; }
            #experts-subcat { display: block; width: 380px; font-size: 16px; padding: 5px 10px; margin: 5px auto 0; }
            #experts-subcat option { display: none; }
            #experts-subcat option.all { display: block; }
        }
        .experts-header { font-size: 30px; }
        .view-expert-directory .view-content { text-align: center; }
        .view-expert-directory .views-row { float: none; display: inline-block; }

        #handprint{display: none;}
        #black-white{display: none;}
    }
    
    
    /* EXPERT PROFILE PAGE */
    body.node-type-expert {
        #zone-header-wrapper { display: none; }
        /* Related Experts */
        #block-apachesolr-search-mlt-002 { display: none; }
        /* New Topics */
        #block-views-b3d8afae5a7c441932609b8b380355c7 { display: none; }

        /* Profile */
        #region-preface-first { width: 100%; }
        #expert-profile-topbox { background: none; padding-bottom: 20px; }
        #zone-preface-wrapper { width: 100%; }
        .field-name-field-profile-photo { margin-left: 0px; width: 30%; box-sizing: border-box; }
        .field-name-field-profile-photo img { width: 100%; }
        #expert-bio-profile { width: 67%; margin-left: 3%; height: auto; overflow: visible; }
        #region-content { width: 100%; }
    }


    /* VIDEO PAGES */
    body.node-type-videos {
        #region-preface-first, #region-preface-second { width: 97.917%; }
        #video_player_wrapper { width: 100%; }
        #video_player { text-align: center; }

        #block-kih-downloads-kih-dls-all-parents { display: none; }
        #block-kih-experts-kih-experts-more-from { margin-top: 30px; }
        #block-kih-experts-kih-experts-more-from #experts_bio { max-height: inherit; }    

        #video_info { width: 610px; margin: 0 auto; }
        @media only screen and (max-width: 710px) {
            #video_info #social_buttons a:nth-child(3) { clear: both; margin-top: 5px; }
            #video_info #social_buttons a:nth-child(4) { margin-top: 5px; }
        }        
    }

    
    /* ABOUT PAGE */
    body.page-node-8081 {
        #region-preface-first, #region-preface-second { width: 97.917%; }

        #zone-preface-wrapper { padding-top: 0; margin-top: 0; }
        #about-banner { left: 0px; }
        #about-banner img { width: 100%; }
        #about-text { display: none; }
        #responsive-about-links { display: block; }
        #responsive-about-links a.submit-button { font-size: 16px; }

        #about-main { background: none; width: 100%; min-height: inherit; padding: 0; overflow: inherit; }
        #about-video img { border: none; border-radius: 0px; width: 100%; }
        blockquote.expert-quote { width: 100%; box-sizing: border-box; }
        #block-block-168 { text-align: center; }
        .oembed { margin-left: 0px; } 
        #region-preface-first .twitter-tweet-rendered, .oembed iframe { width: 100% !important; max-width: inherit !important; margin-left: 0px !important; box-sizing: border-box; }

        #block-block-168 .award-image:nth-child(1) { width: 25%; max-width: 184px; }
        #block-block-168 .award-image:nth-child(2) { width: 55%; max-width: 268px; }

        #block-block-167 .press-rect img.desktop { display: none; }
        #block-block-167 .press-rect img.responsive { display: block; margin: 0 auto; width: 80%; max-width: 508px; }

        @media only screen and (max-width: 655px) {
            #block-block-168 .award-image:nth-child(1) { width: 29%; max-width: 184px; }
            #block-block-168 .award-image:nth-child(2) { width: 51%; max-width: 268px; }
        }
    }

    /* CARTOONS PAGE */
    body.context-cartoons {
        #zone-content { padding: 0 0 20px; }
        #zone-content .grid-12 { width: 97.917% !important; }
        .view-cartoon-of-the-week .views-row { float: none; display: inline-block; }
        .full-paper-wrap { height: auto; overflow: hidden; background-size: cover !important; margin-left: 10px; margin-right: 10px; padding-bottom: 40px; margin-bottom: 0px; }
        .left-side-full-paper { width: 32%; }
        .left-side-full-paper img { width: 100%; max-width: 280px; }
        .right-side-full-paper { width: 65%; margin-left: 3%; }
    }

    /* PLAYLISTS PAGE */
    body.context-playlists {
        div.page { background: #f1f1f1; }
        #playlist_board_wrapper { margin: 0 auto; }
    
        @media only screen and (max-width: 720px) {
            #mobile-indicator { display: block; } /* set for jQuery */
            #playlist_board_wrapper { width: 100% !important; height: auto !important; }
            #playlist_board_wrapper .playlist_content_item { position: relative !important; top: 0 !important; left: 0 !important; clear: both; float: none; margin: 20px auto; height: auto; overflow: hidden; }
            #playlist_board_wrapper .playlist_content_item_text .title { float: left; width: 85%; }
            #playlist_board_wrapper .playlist_content_item_text .cat-arrow { content: ''; float: right; background: url('../images/cat-plus-minus.png') no-repeat; background-position: 0px 0px; width: 35px; height: 34px; color: transparent; margin-top: 0px; margin-bottom: 5px; cursor: pointer; }
            #playlist_board_wrapper .playlist_content_item_text .cat-arrow.expanded { background-position: 0px -34px; }
            #playlist_board_wrapper .playlist_list { display: none; height: auto; }
            #playlist_board_wrapper .experts_featured { display: none; }
        }
    }
    
    /* BLOG PAGE */
    body.page-articles {
        #region-preface-first, #region-preface-second { width: 97.917%; }
        #block-kih-articles-kih-articles-search { display: none; }

        .view-id-articles.view-display-id-page { padding: 5%; margin-left: 0; background-size: cover; min-height: 400px; }

        @media only screen and (max-width: 900px) {
            .view-id-articles.view-display-id-page { min-height: 360px; }
        }
        @media only screen and (max-width: 800px) {
            .view-id-articles.view-display-id-page { min-height: 315px; }
        }

        .view-id-articles.view-display-id-page .views-field-field-article-image { float: right; width: 55%; margin-left: 3%; margin-right: 0; }
        .view-id-articles.view-display-id-page .views-field-field-article-image img { width: 100%; }
        .view-id-articles .views-field-body { font-size: 14px; }

        .view-kih-voices.view-display-id-block_1 .views-row { height: auto; overflow: hidden; }
        .view-kih-voices.view-display-id-block_1 .views-field-picture { width: 25%; margin: 1% 3% 1% 1%; }
        .view-kih-voices.view-display-id-block_1 .views-field-name { width: 70%; margin-top: 1%; }
        .view-kih-voices.view-display-id-block_1 .views-field-picture img { width: 100%; height: auto; }
        .view-kih-voices.view-display-id-block_1 .views-field-field-blogger-tagline { float: none; }

        .view-kih-voices.view-display-id-block_1 .view-footer { text-align: center; }
        .view-kih-voices.view-display-id-block_1 .view-footer a {
            margin: 0 auto;

            font-family: "Franklin Gothic Book", Arial, sans-serif;
            border-radius: 3px;
            padding: 10px 18px;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            text-shadow: none;
            text-align: center;
            width: 126px;
            display: inline-block;

            background-image: url(gradient.php?from=E61F25&to=B5151A&to_pct=80);
            background-image: -ms-linear-gradient(top, #E61F25 0%, #B5151A 80%);
            background-image: -moz-linear-gradient(top, #E61F25 0%, #B5151A 80%);
            background-image: -o-linear-gradient(top, #E61F25 0%, #B5151A 80%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E61F25), color-stop(0.8, #B5151A));
            background-image: -webkit-linear-gradient(top, #E61F25 0%, #B5151A 80%);
            background-image: linear-gradient(to bottom, #E61F25 0%, #B5151A 80%);
            filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#E61F25", endColorStr="#B5151A");
        }
    }

    /* ARTICLE PAGES */
    body.node-type-article {
        #region-preface-first { width: 97.917%; }
        #region-preface-second { display: none; }

        @media only screen and (max-width: 710px) {
            #video_info #social_buttons a:nth-child(3) { clear: both; margin-top: 5px; }
            #video_info #social_buttons a:nth-child(4) { margin-top: 5px; }

            .expert-bio-block-inner { width: 100%; background-size: contain; }
            .expert-bio-block-bottom { width: 100%; background-size: cover; }
            .expert-bio-block .right { width: 58%; }
        }
    }
    

    /* BLOG ENTRY PAGES */
    body.node-type-blog {
        #region-preface-first { width: 97.917%; }
        #region-preface-second { display: none; }
        
        @media only screen and (max-width: 720px) {
            .view-id-blogger_bio { width: 100%; padding: 0; }
        }

        @media only screen and (max-width: 710px) {
            #video_info #social_buttons a:nth-child(3) { clear: both; margin-top: 5px; }
            #video_info #social_buttons a:nth-child(4) { margin-top: 5px; }
        }        
    }


    /* BLOG AUTHOR PAGES */
    body.context-blogs {
        #region-preface-first, #region-preface-second { width: 97.917%; }
        .view-id-blogger_bio { width: 634px; height: 362px; min-height: inherit; margin: 0 auto 15px; padding: 0 15px; }
        #block-views-user-blog-posts-block-1 { width: 580px; margin: 0 auto; }
        
        @media only screen and (max-width: 680px) {
            .view-id-blogger_bio { width: 100%; padding: 0; }
            #block-views-user-blog-posts-block-1 { width: 100%; }
        }
    }

  /* PREMIUM REGISTRATION */
  .p2-subtitle{display: block;
    padding-left: 50px;
  }

  .context-go-premium-to-view{

    #main-pm-title{display: block;}

    .container-12{

    }

    #premium-upgrade-pg .right-pm {
      background-image: url("../images/premium/super-parent-rectangle.jpg");
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 50px;
      float: left;
      max-width: 545px;
      min-height: 400px;
      width: 40%;
    }

    #premium-upgrade-pg ul.vid-features {
      margin-top: 0px;
    }

    .region-content-inner {
      margin-left: -5%;
      margin-right: -8%;
      margin-top: 25px;
    }

    #premium-upgrade-pg .left-pm {
      background-image: url("../images/premium/lg-paper-tack.jpg");
      background-position: center top;
      background-repeat: no-repeat;
      float: left;
      height: 600px;
      margin-right: 10px;
      max-width: 500px;
      min-width: 350px;
      text-align: left;
      width: 55%;
    }



  }


  /* STANDARD REGISTRATION */
  #kith-register-step1 .register_left, .register_steps_1{
    display: none;
  }
  .register_mobile_message{
    text-align: center;
  }
  #register_form{
    .register_box{
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      float: none;
      display: block;
    }
    .register_bottom{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
    .register_right{
      float: none;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
    overflow: visible;
    height: auto;
  }

  #zone-menu { display: block; width: 100%; }
  .social-actions{display: none;}
}


/**************************
** Mobile styles 
***************************/
@media only screen and (max-width: 599px) {
    #mobile-indicator { display: block; } /* set for jQuery */

  /* Baby Care 101 */

  .bcarelogo{ float: none !important; margin-left: auto; margin-right: auto;}
  .logo-soup{ float: none !important;  margin-left: auto; margin-right: auto;}

  body.page-playlists #oops-wrapper{
    .half-right-message{ min-width: 400px;}
    ul.vid-features{margin-left: 10px;}
    .p2-subtitle{margin-left: 0px; font-size: 14px;}
    .left-inner{
      h2{ margin-left: 40px;}

    }
  }


  /* MOBILE BASE STYLES AND REUSEABLE UPDATES */
.mobile-ddaccordion{
    display: block;
    margin-top: 20px;
    > h3 {
      background: #e9e9e9;
      background: -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9e9e9));
      background: -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
      background: -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
      background: -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
      background: linear-gradient(to bottom,  #ffffff 0%,#e9e9e9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 );
      border: 1px solid #e5e5e5;
      display: block;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
      padding: 12px 17px;
      margin: 10px 0 0;
      color: #eb1d23;
      cursor: pointer;
      float: left;
      width: 100%;
      box-sizing: border-box;
    }
    > div { display: none; float: left; border: 1px solid #e5e5e5; border-top: none; padding: 15px; }
  }


  #homepage-accordion{  margin-top: -50px;  display: block;
    h3{
      font-size: 24px;
      padding-bottom: 20px;
      img{ margin-right: 10px; margin-bottom: -5px;}
    }
    margin-bottom: 10px;
  }

  /* Newsletter and Odds and Ends */
  #mc_embed_signup {margin-left: auto !important; margin-right: auto !important;}

  #main-newsletter img{max-width: 100% !important; height: auto !important;}

  body.node-type-newsletter{
    max-width: 100%;
    overflow: hidden;
  }
  /* Main Menu */
    .dl-menuwrapper{
        display: block;
    }
  #zone-menu { display: none; }
  .social-actions{display: none;}
  /* Helper Display Classes */
  .mobile-only-block{
    display: block;
  }

  .context-go-premium-to-view{

    #premium-upgrade-pg .left-pm {
      width: 100%;
    }
  }

  .mobile-tablet-block{display: block;}

  .desktop-tablet-only{
    display: none;
  }

  /* Go to Premium Page */
  .context-go-premium-to-view{
    #premium-upgrade-pg .right-pm{
      width: 100%;
      margin-top: -50px;
    }
    .gopremium-ad{
      display: none;
    }
  }

  /* Registration Forms */

  input[type="text"], input[type="password"], textarea {

  }

  fieldset{

    margin-left: 2%;
  }

  body.page-checkout{
    #account-login-container, .form-item-account-login-mail, #edit-account{
      max-width: 94% !important;
    }
  }


  /* Premium Registration */
  body.page-kith-register{
        #premium-overlay-cta{ float: none; margin-left: auto; margin-right: auto; padding-top: 20%; min-width: 300px; height: 410px; width: 100%; padding-left: 0px; margin-left: 5px; background: rgba(0, 0, 0, 0) url("../images/responsive/KITH-responsive-prem-nicebg.jpg") no-repeat scroll center top; background-size: cover;
          h2{ margin-left: 10%;}
          .p2-subtitle{ margin-left: 10%; display: block;}
          ul.vid-features{ margin-left: 8%; padding-top: 5%; padding-bottom: 5%;}
          .pm-price-wrapper{ margin-left: 5%;}
        }
        #free-overlay-cta{
          background: rgba(0, 0, 0, 0) url("../images/responsive/KITH-responsive-standard-bg.jpg") no-repeat scroll center top; background-size: cover;
          padding-top: 20%;
          width: auto;
          ul.free-features{
            padding-bottom: 5%;
            padding-top: 5%;
          }
          .fm-price-wrapper{ margin-left: 5%; padding-left: 0px; }
        }
        .free-grey-button{margin-top: 10px; width: 97%;}
        .pm-right-price {display: block;}
        #membership-wrapper{ width: auto;}
        #main-pm-title{ max-width: 400px; margin-left: auto; margin-right: auto;}
        .red-button.mobile-only-block{ margin-left: 5px; width: 97%; float: none; margin-top: 3%;}

/* Standard Registration */
    #kith-register-step1 .register_left, .register_steps_1{
          display: none;
        }
    .register_mobile_message{
          text-align: center;
        }
    #register_form{
      .register_box{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        float: none;
        display: block;
              }
              .register_bottom{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                text-align: center;
                margin-top: 20px;
              }
              overflow: visible;
              height: auto;
            }
  }

  /* HOME PAGE */
    body.front {
        /* Search */
        .homepage-search-image { display: none; }
        .home-search-text-wrapper { width: 100%; margin-top: 30px; }
        #search-block-form { width: 112%; left: 2%; margin-top: 90px;
          .form-actions{ margin-left: -14%; }
        }

        /* Trending Videos */
        .video-interlock-four-thumbs{ margin-top: 20px !important;
          h3.block-title { text-align: center; }
        }
        #block-views-video-interlock-block .views-row { width: 100%; margin: 0; }
        #block-views-video-interlock-block .views-row:nth-child(n+2) { display: none; }

        /* Featured Experts */
        #block-views-featured-experts-block { display: none; }

        /* Happening in the House */
        .happening-in-house-featured .views-field-field-newsletter-sm-sq-body { width: 28%; margin-right: 5%; }
        .happening-in-house-featured .views-field-title, .happening-in-house-featured .views-field-body { width: 67%; }

        /* Cartoon of the Week */
        #block-views-cartoon-of-the-week-block { float: none; width: 100%; }
        .view-cartoon-of-the-week .views-row { width: 50%; margin: 0; float: none; display: inline-block; }

        /* Newsletter signup */
        #block-kih-downloads-kih-dls-all-parents-long { float: none; width: 100%; margin-left: 0px; }
        #mc_embed_signup { width: 100%; background: url('../images/homepages/download-plate-mobile.png') no-repeat !important; background-size: contain !important; min-height: 330px; margin-bottom: 40px; }
        #mc_embed_signup .download-title { margin-top: 15%; width: 50%; margin-left: 4%; }
        #mc_embed_signup input.email { margin-top: 23% !important; }
        #mc_embed_signup input.button { margin-right: 13% !important; }
        @media only screen and (max-width: 490px) {
            #mc_embed_signup { min-height: 275px; }
            #mc_embed_signup input.email { margin-top: 17% !important; }
        }
        @media only screen and (max-width: 455px) {
            #mc_embed_signup { min-height: 250px; }
            #mc_embed_signup input.email { margin-top: 12% !important; }
        }
        @media only screen and (max-width: 400px) {
            #mc_embed_signup { min-height: 225px; }
            #mc_embed_signup .download-title { margin-top: 9%; }
            #mc_embed_signup input.email { margin-top: -2% !important; }
        }

        /* Help */
        #block-block-200 { float: none; width: 100%; }
        #block-block-200 img { width: 90%; margin-left: 5%; }

        /* Bottom Article & Press */
        #article-48290 #press-left { width: 100%; margin: 0; }
        #article-48290 #press-right { width: 100%; }
        #article-48290 #press-right img.non-mobile { display: none; }
        #article-48290 #press-right img.mobile { display: block; }
    }
    
    /* CATEGORY & SUBCATEGORY PAGES */
    body.page-taxonomy {
        .cat-description { font-size: 14px; }
        #region-preface-first, #region-preface-first .region-inner { width: 100%; }
        #region-preface-second, #region-preface-second .region-inner { width: 100%; }
    }

    /* Category Blocks */
    body.page-cat {
        #categories-landing { 
            width: 100%; height: auto !important; margin: 0 auto;
            .taxblock {
                position: relative !important; top: 0 !important; left: 0 !important; clear: both; float: none; margin: 20px auto; height: auto; overflow: hidden;
                
                h2 { margin-top: 15px; width: 85%; font-size: 16px; }
                h2 a:link, h2 a:visited { color: #eb1d23; }
                .cat-arrow { background: url('../images/cat-plus-minus.png') no-repeat; background-position: 0px 0px; width: 35px; height: 34px; color: transparent; margin-top: 10px; margin-bottom: 5px; cursor: pointer; }
                .cat-arrow.expanded { background-position: 0px -34px; }
                div.subcatlist { display: none; }
            }
        }

        #block-kih-downloads-kih-dls-all-parents { float: none; margin: 0 auto; left: -10px; }
        #block-kih-downloads-kih-dls-all-parents #mc_embed_signup { margin: 0 auto; }
        #block-views-recent-blog-posts-block-1 { float: none; margin: 0 auto; left: -5px; }
        #block-views-recent-forum-posts-block-1 { clear: both; float: none; margin: 10px auto; position: relative; left: 0px; }

        @media only screen and (max-width: 320px) {
            #categories-landing { margin-left: -5px; }
        }
    }
    
    /* Subcategory Blocks */
    body.page-subcat {
        #block-kih-categories-kih-categories-subcats .views-row .video-search-result-video { width: 98%; margin-left: 1%; margin-right: 1%; }
        #block-kih-categories-kih-categories-subcats .views-row .video-search-result-video:nth-child(n+2) { display: none; }
        #block-kih-categories-kih-categories-subcats .subcategory-title { width: 60%; }

        @media only screen and (max-width: 430px) {
            #block-kih-categories-kih-categories-subcats .subcategory-title { width: 50%; }
        }
    }

    /* EXPERTS PAGE */
    body.context-experts {
        @media only screen and (max-width: 430px) {
            #experts-menu-responsive { 
                #experts-cat { width: 100%; }
                #experts-subcat { width: 100%; }
            }
        }
    }

  .node-type-forum{
    #region-preface-first{
      width: 97.917%;
    }
    #region-preface-second{
      display: none;
    }

    .top-post .post-body{width: auto !important;}
  }

    /* Forum Page */
    body.page-forum{
        #region-preface-first{
        width: 97.917%;
      }
        #region-preface-second{
        display: none;
      }

      .forum-advice{
        display: none;
      }
      .forum-main-header h3{
        text-align: center;
        display: block !important;
      }
      .forum-main-header{
        margin: 0px !important;
        padding: 0px !important;
        background: none !important;
        height: auto !important;
        width: auto !important;
        left: 0px !important;
      }
      .subcategory-container{
        display: none !important;
      }

    }

  body.context-forum-topic{
    .subcategory-container{
      display: none;
    }
  }

  body.context-forum{
    .subcategory-container{
      display: none;
    }
  }
    /* EXPERT PROFILE PAGE */
    body.node-type-expert {
        #zone-content { width: 100%; }
        #zone-content #region-content { margin: 0; }
        .field-name-field-profile-photo { width: 60%; margin: 0 auto 20px; float: none; }
        #expert-bio-profile { width: 100%; margin-left: 0; }
        .quicktabs-style-nostyle .quicktabs-tabs { display: none; }
        .quicktabs-style-nostyle .view { box-shadow: none; border: none; padding: 0; }
        .quicktabs-style-nostyle .view .views-row { border: none; padding: 14px 0 11px; }
        .quicktabs-style-nostyle .view .views-row-odd { background: #eee; }
        .quicktabs-style-nostyle .view .views-row-even { background: #fff; }
        .quicktabs-style-nostyle .view .views-field-title a, .quicktabs-style-nostyle .view .views-field-title a:active, .quicktabs-style-nostyle .view .views-field-title a:visited { background-position: top 50% right 20px; padding-left: 20px; padding-right: 45px; height: auto; min-height: 20px; }
    }

  /* My Profile Page */
  body.my-profile{
    #profile-accordion{
      display: block;
      margin-top: 20px;
      > h3 {
        background: #e9e9e9;
        background: -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9e9e9));
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
        background: -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
        background: -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
        background: linear-gradient(to bottom,  #ffffff 0%,#e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 );
        border: 1px solid #e5e5e5;
        display: block;
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        padding: 12px 17px;
        margin: 10px 0 0;
        color: #eb1d23;
        cursor: pointer;
        float: left;
        width: 100%;
        box-sizing: border-box;
      }
      > div { display: none; float: left; border: 1px solid #e5e5e5; border-top: none; padding: 15px; }
    }
    #regular-profile-wrapper{
      display: none;
    }
  }



  /* PROFILE PAGE */
    body.page-user{
      .jcarousel-next{ display: none; }
      .videos-thumb-view li{ float: none !important; width: auto !important;  margin: 20px 0 !important;}
      ul.jcarousel{ width: auto !important; text-align: center;}
      .video-search-result-video{
        span.play{left: 30%;}
        img{ width: 60% !important; height: auto;}
      }

      .show-for-landscape{width: 60% !important; height: auto;}

      .region-preface-first #latest-videos, .region-preface-first #must-watch-videos, .region-preface-first .videos-thumb-view{width: auto !important;}

      .addthis_button{display: none;}

      #user-content{width: auto !important; margin-right: auto !important; float: none !important; margin-top: 10px; text-align: center; position: relative; padding: 25px 5% 25px; background: #f2f2f2 none repeat scroll 0 0; border-top: 2px solid #cccccc;}
      #user-buttons{float: none !important;  text-align: center !important; height: auto;}
      #user-profile-philosophy{width: auto; background-position: left top !important;}
      .user-paperclip{display: none;}
      #user-profile {width: 106%; margin-left: -3%; background: none !important; text-align: center;
        h3{display: none;}
      }

      .region-preface-first{
        width: 97.917%;
      }
      #region-preface-second{
        display: none;
      }
      #block-menu-menu-user-profile-menu{
        display: none;
      }
      #user-pic{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
      }


      #user-badge{ display: none; }

      #professional-profile-wrapper{ width: 100%; text-align: center;
        h2{width: 70%; float: none; margin-left: auto; margin-right: auto;}
      }
      #user-profile.pro-profile #user-pic{ float: none !important; margin: 0px !important; margin-left: auto; margin-right: auto;}

      #user-text{
        margin-top: -5px;
      }
      #user-profession span{
        line-height: normal;
      }
      #user-right{ float: none !important; margin: 0px !important; width: auto !important; }
      #user-family{background-color: #f2f2f2; border-bottom: 2px solid #cccccc;
        ul{ text-align: center; padding: 0 0 10px;}
        ul li{float: none !important; display: inline-block !important; margin-right: 0px !important;}
      }


      .user-pro-clip { display: none;}

  }


    /* VIDEO PAGES */
    body.node-type-videos {
        #video_outer_container { padding-bottom: 71.2%; }
        #video_info { display: none; }
        #quicktabs-more_videos { display: none; }
        #video-accordion { 
            display: block; 
            margin-top: 20px;
            > h3 { 
                background: #e9e9e9;
                background: -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9e9e9));
                background: -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
                background: -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
                background: -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%);
                background: linear-gradient(to bottom,  #ffffff 0%,#e9e9e9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 );
                border: 1px solid #e5e5e5;
                display: block;
                font-size: 14px;
                font-weight: normal;
                text-transform: uppercase; 
                padding: 12px 17px;
                margin: 10px 0 0;
                color: #eb1d23;
                cursor: pointer;
                float: left;
                width: 100%;
                box-sizing: border-box;
            }
            > div { display: none; float: left; border: 1px solid #e5e5e5; border-top: none; padding: 15px; }
            > div.related { padding: 0; }
            > div.more-expert { 
                padding: 0; width: 100%; box-sizing: border-box;
                &.more-expert.quicktabs-style-nostyle .view { 
                    border: none; box-shadow: none; padding: 0; margin: 0; 
                    .views-field-title a { background-position: top left 8px; padding-left: 38px; height: auto; min-height: 22px; }
                }
            }
        }
        #block-kih-videos-kih-videos-single-transcription, #block-kih-experts-kih-experts-more-from { display: none; }
    }


    /* ABOUT PAGE */
    body.page-node-8081 {
        .expert-quote-text-wrapper { margin-left: 30%; }
        blockquote p.expert-quote-text { width: 85%; }
    }        

    
    /* CARTOONS PAGE */
    body.context-cartoons {
        .left-side-full-paper { width: 100%; margin-bottom: 20px; }
        .right-side-full-paper { width: 100%; margin-left: 0%; margin-bottom: 20px; }
    }
    

    /* BLOG PAGE */
    body.page-articles {
        .view-id-articles.view-display-id-page { background: none; padding: 0; }
        .view-id-articles.view-display-id-page .views-field-field-article-image { float: none; width: 100%; margin-left: 0; text-align: center; }
        .view-id-articles.view-display-id-page .views-field-field-article-image img { width: 100%; border: 1px solid #bbb; }

        .view-kih-voices.view-display-id-block_1 .views-field-picture { width: 30%; }
        .view-kih-voices.view-display-id-block_1 .views-field-name { width: 65%; }
        .view-kih-voices.view-display-id-block_1 .view-footer a { font-size: 16px; }

        #block-views-articles-block-1 .views-field-field-article-image { width: 100%; box-sizing: border-box; border: 1px solid #bbb; margin: 0 0 20px; }
        .view-id-articles.view-display-id-block_1 img { width: 100%; height: auto; max-width: none; max-height: none; }
    }
    

    /* ARTICLE PAGES */
    body.node-type-article {
        #video_info { display: none; }
        .expert-bio-block, .expert-bio-block-bottom { display: none; }
        .field-name-field-article-image {max-width: 100%;}
    }
    

    /* BLOG ENTRY PAGES */
    body.node-type-blog {
        #video_info { display: none; }
        .view-id-blogger_bio { display: none; }
    }
    
    
    /* BLOG AUTHOR PAGES */
    body.context-blogs {
        .view-id-blogger_bio { 
            background: none; width: 100%; height: auto; padding: 0;
            .views-field.views-field-picture { float: none; padding: 0; }
            .views-field-picture img { width: 100%; height: auto; margin: 10px 0 0; padding: 0; }
            .views-field-field-blogger-social-profiles { float: right; width: 25%; padding: 0; margin: -38px 0 0; min-width: inherit; min-height: inherit; text-align: right; }
            .views-field-name-1, .views-field-field-blogger-tagline, .views-field-field-blogger-company-website { float: left; width: 74%; margin-right: 1%; }
            .views-field-name-1 { padding: 0; }
            .views-field-field-blogger-biography { margin: 0; }
        }
        #block-views-user-blog-posts-block-1 { width: 100%; }
    }
}


