
#premium-overlay-cta{
  background: url('images/premium/premium-background-signup.jpg') top center no-repeat;
  width: 475px;
  height: 305px;
  text-align: left;
  float: left;
}

.pm-left-price{
margin-left: 15px;
  font-family: Eraser;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.pm-right-price{
  color: red;
  font-size: 16px;
  font-family: Eraser;
}

.pm-price-wrapper{
padding-top: 20px;
display: block;
}

#free-overlay-cta{
  width: 300px;
  float: left;
  text-align: left;
  background: url('images/premium/free--background-signup.jpg') top center no-repeat;
  margin-top: 20px;
  margin-left: 15px;
  height: 295px;
}

ul.vid-features{
  padding-top: 125px;
}

ul.vid-features li{
  margin-bottom: 5px;
  padding-left: 5px;
  list-color: grey;
}

ul.free-features{
  padding-top: 130px;
}

ul.free-features li{
  margin-bottom: 5px;
  padding-left: 5px;
  list-color: grey;
  margin-left: -5px;
}

#main-pm-title, .fm-price-wrapper{
font-family: Eraser; text-transform: uppercase;
font-size: 24px;
color: black;
}

.fm-price-wrapper{
display: block;
  padding-left: 10px;
  padding-top: 10px;
}

#membership-wrapper{
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.red-button{
  display: block;
  background-color: red;
  background-image: linear-gradient(to bottom, #e61f25 0%, #b5151a 80%);
  color: white;
  padding: 7px;
  width: 455px;
  float: left;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
  box-shadow: 0px 3px 12px #666666;
  margin-right: 20px;
}

.grey-button{
  display: block;
  background-color: grey;
  color: white;
  padding: 7px;
  width: 290px;
  float: left;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
    background-color: #565656;
  background-image: -ms-linear-gradient(top, #949494 0%, #565656 80%);
  background-image: -moz-linear-gradient(top, #949494 0%, #565656 80%);
  background-image: -o-linear-gradient(top, #949494 0%, #565656 80%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #949494), color-stop(0.8, #565656));
  background-image: -webkit-linear-gradient(top, #949494 0%, #565656 80%);
  background-image: linear-gradient(to bottom, #949494 0%, #565656 80%);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#949494", endColorStr="#565656");
  box-shadow: 0px 3px 12px #666666;
}